.custom-card{
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    border-radius: 10px;
}
.schoolCount{font-size: 12px;}

/* .refreshBtn{vertical-align: top;} */
.refreshBtn{width: 12px; margin-left: 3px;}
/* .refreshBtn .fa-refresh{font-size: 12px;} */
.updatedText{font-size: 10px; color: #a5a5a5;}
.dropdown-divider{margin: 0;}
.counts{ 
    margin-left: 5px;
    margin-right: 5px;
    font-size: 14px;
    color: #00A651;
}
.counts span{
    font-weight: 700;
    margin-right: 5px;
}
.noti{width: 20px; height: 20px;}
/* .noti{color: #00A651;} */

.flexItems{padding: 6px 0px;}
.flexItems p:nth-child(1) {
    font-size: 12px;
}
.flexItems p:nth-child(2) {
    font-size: 14px;
    font-weight: 700;
}
.schoolCountNumber p{
    font-size: 24px;
    font-weight: 600;
}
.percent{
    background-color: #e9f7f0;
    padding: 2px 5px;
    border-radius: 3px;
    margin-left: 5px;
}
.percent p{font-size: 10px; color: #01A451; font-weight: 700;}

