


.wrapper{
  width:95%;
  display:block;
  
  margin: auto;
  padding: 40px 40px;
  background:#fff;
  border-radius:10px;
}

canvas{
  background:#fff;
  height:500px;
}

h1{
  font-family: Roboto;
  color: #fff;
  margin-top:20px;
  font-weight:0;
  text-align: center;
  display: block;
  text-decoration: none;
}