
.bg_lightgray{background-color: #f3f3f3;}

.logo_img{width: 100%;}
.logo_img img{width: 40px; display: block; margin: 8px auto 20px auto;}

.sidenavbar{display: block; padding: 0px;}
.dropdown-toggle{display: block;}

.navbar-inverse{
    padding-top: 10px;
    background-color: #3e3c3c;
}
.navbar-inverse .navbar-nav > li > a {
  color: #c8c9ce;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  text-decoration: none;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
  background-color: #272c33;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #272c33;
}
.dropdown-toggle::after{
    display: none;
}

.fa-regular, .fa-solid{
  font-size: 18px;
  color: #e8e6e6;
}

.dropdown-toggle {
    position: relative;
}

body {
    /* padding-top: 70px; */
    padding-top: 0;
    margin-left: 68px;
}
.navbar-fixed-left .navbar-nav .dropdown {
    margin-bottom: 20px;
}

.navbar-fixed-left,
.navbar-fixed-right {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1030;
}

ul.categories li{
  margin-bottom: 20px;
}

.side-nav-dropdown{
  padding-left: 0px;
  list-style: none;
}
.side-nav-dropdown li {
  padding: 10px 10px 10px 15px;
}
.side-nav-dropdown li a{
  color: #7d7d81;
  width: 180px;
  font-size: 12px;
  text-decoration: none;
}
 
.active{
  background-color: #ffffff;
  color: #28282a !important;
}
.active a, .active a .fa-regular, .active a .fa-solid{
  color: #28282a !important;
}

#main_contents{
  -webkit-transition: .5s; 
  transition: .5s;
}

.margins{ margin-left: 150px; }

#show_list_items{
  position: absolute; 
  width: 150px;
  background-color: #ffffff;
  box-shadow: 0 3px 10px rgb(0 0 0 / 5%);
  height: 100vh;
}
 
 .navbar-fixed-left,
 .navbar-fixed-right {
   position: fixed;
   top: 0;
   /* width: 100%; */
   z-index: 1030;
   width: 108px;
   height: 100vh;
   border-radius: 0;
 }

 .navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background-color: #272c33;
}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
    color: #c8c9ce;
    background-color: transparent;
}
.fa{
    font-size: 24px;
}


body {
  padding-top: 0;

}
.navbar-fixed-left {
  right: auto !important;
  left: 0 !important;
  border-width: 0 1px 0 0 !important;
}


/* @media (min-width: 768px) { */
    .navbar-fixed-left,
    .navbar-fixed-right {
      width: 68px;
      height: 100vh;
      border-radius: 0;
    }
    .navbar-fixed-left .container,
    .navbar-fixed-left .container-fluid,
    .navbar-fixed-right .container,
    .navbar-fixed-right .container-fluid {
      padding-right: 0;
      padding-left: 0;
      width: auto;
    }
    .navbar-fixed-left .navbar-header,
    .navbar-fixed-right .navbar-header {
      float: none;
      padding-left: 15px;
      padding-right: 15px;
    }
    .navbar-fixed-left .navbar-collapse,
    .navbar-fixed-right .navbar-collapse {
      padding-right: 0;
      padding-left: 0;
      max-height: none;
    }
    .navbar-fixed-left .navbar-collapse .navbar-nav,
    .navbar-fixed-right .navbar-collapse .navbar-nav {
      float: none !important;
    }
    .navbar-fixed-left .navbar-collapse .navbar-nav > li,
    .navbar-fixed-right .navbar-collapse .navbar-nav > li {
      width: 100%;
    }

    .navbar-fixed-left .navbar-collapse .navbar-nav > li.dropdown .dropdown-menu,
    .navbar-fixed-right
      .navbar-collapse
      .navbar-nav
      > li.dropdown
      .dropdown-menu {
      top: 0;
    }

  















