<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="icon" href="{{ url_for('static',filename='images/favicon.ico') }}" type="image/gif" sizes="16x16">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>CAPi6 AMS Dashboard</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/search2.css') }}">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/map-table.css') }}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>

        <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}"> -->
        <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/journeystyle.css') }}"> -->
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-EWVQZSV89G"></script>
        <script>
            window.dataLayer = window.dataLayer || [];

            function gtag() {
                dataLayer.push(arguments);
            }
            gtag('js', new Date());
            gtag('config', 'G-EWVQZSV89G');
        </script>
    </head>

    <!-- <body onload="P()" class="body"> -->
    <body class="body">
        <nav class="navbar navbar-default nav-fixed">
            <div class="">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="page_Heading" href="#">AMS DAHSBOARD</a>
                        <a href="homepage">
                            <img src="{{ url_for('static',filename='images/capwhite.png') }}" alt="" class="logo">
                        </a>
                    </div>
                    <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <!-- <li style="left: 2px;
                top: 34px;color: #fff;" title="Page Views" id="myBtn2"><i class="fa fa-eye" aria-hidden="true" style="margin-left: 22px;/*! margin-top: 12px; */margin-right: 5px;"></i>
                                <p style="float: right;">Views</p>
                                <p id="count" style="float: right;margin-right: 3px;"></p>
                            </li>-->
                            <!--<li style="left: 10px;
                top: 34px;
                color: #fff;
                cursor: pointer;" id="myBtn"><i class="fa fa-lightbulb-o" style="margin-top:2px;"></i><p style="float: right;">Insights</p><p style="float: right;margin-right: 3px; margin-left: 5px;">3</p></li>-->
                            <li style="left:10px;top:18px;"><a id="share" href="#"><i class="fa fa-share" aria-hidden="true" style="margin-top:2px;margin-right: 3px;"></i></a></li>
                            <li style="top:18px;"><a href="#"><i data-show="show-side-navigation1" class="fa fa-bars show-side-btn"></i></a></li>
                            <li style="margin-top: 27px;">
                                <div class="dropdown">
                                    <button class="btn btn-primary " id="menu1" type="button" data-toggle="dropdown" style="border: 0;font-size: 16px; border-radius: 50%;">{{g.user.nameinitial}}<span id="logid" style="display: none;">{{g.user.id}}</span></button>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="login">{{g.user.name}}</a></li>
                                        <hr />
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="login">LOGOUT</a></li>
                                    </ul>
                                </div>
                        </ul>
                    </div>
                    <div class="input-Container ui-widget">
                        <i class="fa fa-search Icon"></i>
                        <div id="iid" class="input-Field">
                        </div>
                        <button class="search_Bt" style="padding-right: 4px !important;" onclick="search()" id="hel"><i class="fa fa-search Search_icon"></i></button>
                        <p style="display: none;" id="tagdescription"></p>
                        <p style="display: none;" id="tagdescription"></p>
                    </div>
                </div>
            </div>
        </nav>
        <aside class="side-nav" id="show-side-navigation1">
            <!-- <i class="fa fa-bars close-aside hidden-sm hidden-md hidden-lg" data-close="show-side-navigation1"></i> -->
            <ul class="categories" style="margin-top:15px;">
                <li>
                    <i class="fa fa-home" aria-hidden="true"></i>
                    <a href="#">EXECUTIVE SUMMARY</a>
                    <ul class="side-nav-dropdown">
                        <li>
                            <a href="Executive_Dashboard">CAP SUMMARY</a>
                        </li>
                        <li><a href="Day_In_Life">DAY IN LIFE OF...</a></li>
                        <li><a href="Daily_Analytics">DAILY ANALYTICS</a></li>
                        <li><a href="Weekly_Analytics">WEEKLY ANALYTICS</a></li>
                        <li><a href="aws_releases">COMPASS RELEASES</a></li>
                        <li><a href="schoolsummary">SCHOOL SUMMARY</a></li>
                        <li><a href="aws">AWS ANALYTICS</a></li>
                        <!-- <li><a href="aws">DATABASE PERFROMANCE ANALYTICS</a></li> -->
                    </ul>
                </li>
                <li><i class="fa fa-book "></i><a href="#">ENGAGEMENT DASHBOARDS</a>
                    <ul class="side-nav-dropdown">
                        <li><a href="NameEScore">DISTRICT ENGAGEMENT</a></li>
                        <li><a href="Disctrictfilter">DP-360</a></li>
                        <li><a href="Local_Disctrictfilter">MINI D-360</a></li>
                        <!-- <li><a href="partner">PARTNER PORTAL</a></li> -->
                        <li><a href="Login_analytics">LOGIN ANALYTICS</a></li>
                        <!-- <li><a href="schoolengagement">SCHOOL ENGAGEMENT</a></li> -->
                        <!-- <li><a href="School_Analytics">SCHOOL ANALYTICS</a></li> -->
                        <li><a href="School_Search">SCHOOL SEARCH</a></li>
                        <li><a href="School_Search_comparison">SCHOOL COMPARISON</a></li>
                        <!-- <li><a href="leadGeneration">LEAD GENERATION</a></li> -->
                        <li><a href="21daystreak">21 Day Streak</a></li>
                        <li><a href="ams_dashboard">AMS DAHSBOARD</a></li>
                    </ul>
                </li>
                <li><i class="fa fa-history"></i><a href="#">PLAYBACK ANALYTICS</a>
                    <ul class="side-nav-dropdown">
                        <li><a href="Practice_Analytics">PLAYBACK ANALYTICS</a></li>
                        <li><a href="Scoology">SCHOOLOGY</a></li>
                        <li><a href="Family_practice_analytics">APP PLAYBACK ANALYTICS</a></li>
                        <li><a href="Progarm_wise_Analytics">PROGRAM WISE ANALYTICS</a></li>
                        <!-- <li><a href="audio_analytics">AUDIO ANALYTICS</a></li> -->
                        <li><a href="tunein">TUNE_IN DASHBOARD</a></li>
                        <!-- <li><a href="Practice_streak">PLAYBACK STREAK</a></li> -->
                        <!-- <li><a href="pracbifurcation">PLAYBACK BIFURCATION</a></li> -->
                    </ul>
                </li>
                <li>
                    <i class="fa fa-dollar"></i><a href="#">REVENUE DASHBOARDS</a>
                    <ul class="side-nav-dropdown">
                        <li><a href="Transaction_Reporting">REVENUE OVERVIEW</a></li>
                        <li><a href="Donation">DONATION DASHBOARD</a></li>
                        <li><a href="School_Revenue">SCHOOL REVENUE</a></li>
                        <li><a href="Bill_later">BILL ME LATER</a></li>
                        <!-- <li><a href="oms_dashboard">OMS DASHBAORD</a></li> -->
                    </ul>
                </li>
                <li><i class="fa fa-bolt"></i><a href="#">FEEDBACK AND SURVEY</a>
                    <ul class="side-nav-dropdown">
                        <li><a href="feedback_Analyitcs">FEEDBACK ANAYLTICS</a></li>
                        <li><a href="sentiment">SENTIMENT ANAYLTICS</a></li>
                        <li><a href="feedback_Trends">FEEDBACK TRENDS</a></li>
                        <li><a href="Family_SURVEY">HOME SURVEY ANALYTICS</a></li>
                        <li><a href="feedback_Analyitcs_family">HOME FEEDBACK ANALYTICS</a></li>
                    </ul>
                </li>
                <li>
                    <i class="fa fa-users "></i><a href="#">SUBSCRIPTION DASHBOARDS</a>
                    <ul class="side-nav-dropdown">
                        <li><a href="Upcoming_Renewals">UPCOMING RENEWAL</a></li>
                        <!-- <li><a href="d1districts">D1 DISTRICTS</a></li> -->
                        <li><a href="mobile_sub">MOBILE SUBSCRIPTION</a></li>
                        <li><a href="Sms_analytics">SMS ANALYTICS</a></li>

                    </ul>
                </li>

                <li><i class="fa fa-star"></i><a href="#">APP ANALYTICS</a>
                    <ul class="side-nav-dropdown">
                        <li class="active2"><a href="Parents_Analytics">HOME APP OVERVIEW</a></li>
                        <li class="active2"><a href="Familyapp_school">HOME APP SCHOOL</a></li>
                        <!-- <li class="active2"><a href="Family_School_Search"> HOME APP SCHOOL SEARCH</a></li>-->
                        <!--<li><a href="Parents_map_view">HOME APP GEO</a></li>-->
                        <!--<li class="active2"><a href="Android_analytics">ANDROID ANALYTICS</a></li>-->
                        <li class="active2"><a href="IOS_Analytics">IOS ANALYTICS</a></li>
                    </ul>
                </li>

                <li style="margin-top:125px"><i class="fa fa-code-fork"></i><a href="#">CAP VERSION<span style="margin: 0 5px 0 5px !important; cursor: default !important;" id="version">6.0</span></a>
                </li>
                <!-- <li id="myBtn2"><i class="fa fa-envelope-open-o fa-fw"></i>Contact Us</li> -->
        </aside>
        <section id="contents">
            <!-- The Modal -->
            <!-- <div id="myModal" class="modal">
                <div class="modal-content">
                    <button onclick="cose()">Close X</button>
                    <section class="mtsection">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-header no-border">
                                            <h4 class="card-title">Information<a href="#popup1"><i class="fa fa-pencil" aria-hidden="true" style="float: right;cursor: pointer;" ></i></a></h4>
                                        </div>
                                        <div class="card-body card-contentt">
                                            <div class="card-block">
                                                <p id="schoolname"></p>
                                                <p id="admin"></p>
                                                <p id="email"></p>
                                                <p id="adress"></p>
                                                <p id="city"></p>
                                                <p id="state"></p>
                                                <p id="country"></p>
                                                <p style="float: left;margin-right: 9px;"><b>Renewal Date:</b>
                                                    <p id="renewal"></p>
                                                </p>
                                                </a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <section class="mtsection">
                                        <div class="">
                                            <div class="pcard">
                                                <div class="col-md-6 col-sm-6">
                                                    <div class="card card-stats">
                                                        <div class="card-header" data-background-color="rose1">
                                                            <img src="{{ url_for('static',filename='images/capuser.png') }}" style="width: 54px;" class="img-responsive">
                                                        </div>
                                                        <div class="card-content">
                                                            <p class="category">Total Users</p>
                                                            <h3 class="card-title" id="ucount"></h3>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-sm-6">
                                                    <div class="card card-stats">
                                                        <div class="card-header" data-background-color="rose">
                                                            <img src="{{ url_for('static',filename='images/capminute.png') }}" style="width: 54px;" class="img-responsive">
                                                        </div>
                                                        <div class="card-content">
                                                            <p class="category">Playback Count</p>
                                                            <h3 class="card-title" id="pcount"></h3>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-sm-6">
                                                    <div class="card card-stats">
                                                        <div class="card-header" data-background-color="green">
                                                            <img src="{{ url_for('static',filename='images/capstudy.png') }}" style="width: 54px;" class="img-responsive">
                                                        </div>
                                                        <div class="card-content">
                                                            <p class="category"> Mindful Minutes</p>
                                                            <h3 class="card-title" id="mindfulness_minutes"></h3>
                                                        </div>
                                                    
                                                    </div>
                                                </div>

                                                <div class="col-md-6 col-sm-6">
                                                    <div class="card card-stats">
                                                        <div class="card-header" data-background-color="blue">
                                                            <img src="{{ url_for('static',filename='images/cappractice.png') }}" style="width: 54px;" class="img-responsive">
                                                        </div>
                                                        <div class="card-content">
                                                            <p class="category">5 Star Ratings</p>
                                                            <h3 class="card-title" id="ratings"></h3>
                                                        </div>
                
                                                    </div>
                                                </div>
                                                <button class="ex_Button" onclick="explore()">Explore School</button>
                                            </div>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div> -->

            <section class="statistics">
                <div class="container-fluid">
                    <div class="row">

                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-2" onclick="cards('/paroverall')" style="cursor:pointer;">
                                    <div class="box2">
                                        <p style="font-size: 10px;">TOTAL EMAILS SENT</p>
                                        <p id="total_email_sent" style="margin: 0 4px; font-size: 19px;"></p>
                                    </div>
                                </div>
                                <div class="col-md-2" style="cursor:pointer;">
                                    <div class="box2 ">
                                        <p style="font-size: 10px;">TOTAL USERS</p>
                                        <p id="total_users" style="margin: 0 4px; font-size: 19px;"></p>
                                    </div>
                                </div>

                                <div class="col-md-2" style="cursor:pointer;">
                                    <div class="box2 ">
                                        <p style="font-size: 10px;">ACTIVE USERS</p>
                                        <p id="active_users" style="margin: 0 4px; font-size: 19px;"></p>
                                    </div>
                                </div>
                                <div class="col-md-2" style="cursor:pointer;">
                                    <div class="box2">
                                        <p style="font-size: 10px;">PLAYBACK COUNT</p>
                                        <p id="playback_count" style="margin: 0 4px; font-size: 19px;"></p>
                                    </div>
                                </div>
                                <div class="col-md-2" style="cursor:pointer;">
                                    <div class="box2">
                                        <p style="font-size: 10px;">MINDFUL MINUTES</p>
                                        <p id="mindful_minute" style="margin: 0 4px; font-size: 19px;"></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-10" style="margin-top: 30px;">
                            <div id="container1" style="height: 610px; width: 120%; box-shadow: rgb(0 0 0 / 10%) 2px 10px 20px; border-radius: 20px; overflow: hidden;">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-10" style="margin-top: 30px;">
                            <div id="container2" style="height: 400px; width: 120%; box-shadow: rgb(0 0 0 / 10%) 2px 10px 20px; border-radius: 20px; overflow: hidden;">
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-10" style="margin-top: 30px;">
                            <div id="container3" style="height: 400px; width: 120%; box-shadow: rgb(0 0 0 / 10%) 2px 10px 20px; border-radius: 20px; overflow: hidden;">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
           
        </section>           

        <!-- <section>
            <hr/>
            <div class="col-md-10">
                <div id="container" style="height: 1000px; width: 120%; border-radius: 20px;   box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);"></div>
            </div>
            <section>
                <div class="welcome2" id="scroll">
                    <div class="container-fluid">
                        <div class="col-md-12" style="background-color: white; margin-top: 50px; border-radius: 20px; margin-bottom: 20px;">
                            <div class="row">
                                <div id="admin" class="col-md-12">
                                    <div class="card material-table">
                                        <div class="table-header">
                                            <span class="table-title"></span>

                                            <a class="btn btn-success btn-logion" style="display:none; float: right;" download="Capdataschoolfamily.csv" id="btnExport" onclick="return ExcellentExport.csv(this, 'dataTable1');" style=" float: right;margin: 5px 15px;" href="">Export</a>

                                            <div class="custyle" id="next"></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section> -->


        <!-- <script>
            $('#myselect').change(function() {
                if (this.value == '1') {
                    var availableTags = [
                        "CAP SUMMARY"
                    ];
                    $("#tag").autocomplete({
                        source: availableTags,
                    });
                    $("#sid").empty();
                    $("#sid").append('<button onclick=search() id="hel">SEARCH</button>');

                } else if (this.value == '2') {

                    $("#sid").empty();
                    var settings = {
                        "async": true,
                        "crossDomain": true,
                        "url": "https://mongospider.herokuapp.com/schoolname/5f155b8a3b6800007900da2a",
                        "method": "GET"
                    }
                    $.ajax(settings).done(function(response) {
                        var dataa = JSON.parse(response);
                        var availableTags = dataa;
                        $("#tag").autocomplete({
                            source: availableTags,
                        });
                    });
                    $("#sid").append('<button onclick=search2() id="hel">SEARCH</button>');

                }
            });
        </script> -->

        <button id="1"></button>

        <script type="text/javascript">
            
            // var settings = {
            //     "async": true,
            //     "crossDomain": true,
            //     "url": "/schoolgraph",
            //     "method": "GET"
            // }
            // $.ajax(settings).done(function(response) {
            //     var dataa = JSON.parse(response);



            //     $(function() {
            //         $('#container').highcharts({
            //             chart: {
            //                 type: 'bar',
            //                 zoomType: 'y'
            //             },
            //             title: {
            //                 text: 'Family app Signups by School'
            //             },
            //             xAxis: {
            //                 categories: dataa.schname,
            //                 crosshair: false
            //             },
            //             yAxis: {
            //                 lineWidth: 1,
            //                 opposite: false,
            //                 title: {
            //                     text: 'Family App Signups'
            //                 }
            //             },
            //             credits: {
            //                 enabled: false
            //             },
            //             plotOptions: {
            //                 series: {
            //                     point: {
            //                         events: {
            //                             click: function() {

            //                                 $('#next').empty();

            //                                 URL = '/schoolgraph/' + this.category;
            //                                 console.log(URL);
            //                                 cardscroll();
            //                                 $('#btnExport').show();
            //                                 createDynamic(URL)
            //                             }
            //                         }
            //                     }
            //                 }
            //             },
            //             series: [{
            //                 color: '#01a451',
            //                 name: 'FAMILY APP SIGNUPS COUNT',
            //                 data: dataa.parcount
            //             }]
            //         });
            //     });
            // });

        </script>


        <script src="https://code.highcharts.com/stock/highstock.js"></script>
        <script src="{{ url_for('static',filename='js/ams_dashboard.js') }}"></script>
        <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
        <script src="{{ url_for('static',filename='js/excellentexport.js') }}"></script>
        <script src="{{ url_for('static',filename='js/snapshot.js') }}"></script>
        <script src="{{ url_for('static',filename='js/chatbot.js') }}"></script>
        <script src="{{ url_for('static',filename='js/mail.js') }}"></script>
        <script src="{{ url_for('static',filename='js/script.js') }}"></script>
    </body>
</html>