<!DOCTYPE html>
<!-- partial:index.partial.html -->
<html lang="en">

<head>
    <link rel="icon" href="{{ url_for('static',filename='images/favicon.ico') }}" type="image/gif" sizes="16x16">
    <meta charset="UTF-8">
    <title>CAPi6 Transaction Reporting</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css'>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/map-table.css') }}">
    <link rel='stylesheet' href='https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css'>
    <link rel='stylesheet' href='https://cdn.datatables.net/searchpanes/1.2.1/css/searchPanes.dataTables.min.css'>
    <link rel='stylesheet' href='https://cdn.datatables.net/select/1.3.3/css/select.dataTables.min.css'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EWVQZSV89G"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-EWVQZSV89G');
    </script>
</head>

<style>
    .section-2 {
        width: 100%;
        float: left;
        max-height: 600px;
        overflow: scroll;
    }
    
    .loading {
        margin-top: 10em;
        text-align: center;
        color: gray;
    }
    
    .highcharts-figure,
    .highcharts-data-table table {
        min-width: 320px;
        max-width: 800px;
        margin: 1em auto;
    }
    
    .highcharts-data-table table {
        font-family: Verdana, sans-serif;
        border-collapse: collapse;
        border: 1px solid #EBEBEB;
        margin: 10px auto;
        text-align: center;
        width: 100%;
        max-width: 500px;
    }
    
    .highcharts-data-table caption {
        padding: 1em 0;
        font-size: 1.2em;
        color: #555;
    }
    
    .highcharts-data-table th {
        font-weight: 600;
        padding: 0.5em;
    }
    
    .highcharts-data-table td,
    .highcharts-data-table th,
    .highcharts-data-table caption {
        padding: 0.5em;
    }
    
    .highcharts-data-table thead tr,
    .highcharts-data-table tr:nth-child(even) {
        background: #f8f8f8;
    }
    
    .highcharts-data-table tr:hover {
        background: #f1f7ff;
    }
</style>

<body class="body">
    <nav class="navbar navbar-default nav-fixed">
        <div class="">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="page_Heading" href="#">I3OS Capabilities BETA</a>
                    <a href="homepage">
                        <img src="{{ url_for('static',filename='images/capwhite.png') }}" alt="" class="logo">
                    </a>
                </div>
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <!-- <li style="left: 2px;
            top: 34px;color: #fff;" title="Page Views" id="myBtn2"><i class="fa fa-eye" aria-hidden="true" style="margin-left: 22px;/*! margin-top: 12px; */margin-right: 5px;"></i>
                            <p style="float: right;">Views</p>
                            <p id="count" style="float: right;margin-right: 3px;"></p>
                        </li>-->
                        <!--<li style="left: 10px;
            top: 34px;
            color: #fff;
            cursor: pointer;" id="myBtn"><i class="fa fa-lightbulb-o" style="margin-top:2px;"></i><p style="float: right;">Insights</p><p style="float: right;margin-right: 3px; margin-left: 5px;">3</p></li>-->
                        <li style="left:10px;top:18px;"><a id="share" href="#"><i class="fa fa-share" aria-hidden="true"
                  style="margin-top:2px;margin-right: 3px;"></i></a></li>
                        <li style="top:18px;"><a href="#"><i data-show="show-side-navigation1"
                  class="fa fa-bars show-side-btn"></i></a></li>
                        <li style="margin-top: 27px;">
                            <div class="dropdown">
                                <button class="btn btn-primary " id="menu1" type="button" data-toggle="dropdown" style="border: 0;font-size: 16px; border-radius: 50%;">{{g.user.nameinitial}}<span id="logid"
                    style="display: none;">{{g.user.id}}</span></button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="login">{{g.user.name}}</a></li>
                                    <hr />
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="login">LOGOUT</a></li>
                                </ul>
                            </div>
                    </ul>
                </div>

            </div>
        </div>
    </nav>
    <aside class="side-nav" id="show-side-navigation1">
        <!-- <i class="fa fa-bars close-aside hidden-sm hidden-md hidden-lg" data-close="show-side-navigation1"></i> -->
        <ul class="categories" style="margin-top:15px;">
            <li>
                <i class="fa fa-home" aria-hidden="true"></i>
                <a href="#">EXECUTIVE SUMMARY</a>
                <ul class="side-nav-dropdown">
                    <li>
                        <a href="Executive_Dashboard">CAP SUMMARY</a>
                    </li>
                    <li><a href="Daily_Analytics">DAILY ANALYTICS</a></li>
                    <li><a href="Weekly_Analytics">WEEKLY ANALYTICS</a></li>
                    <li><a href="aws_releases">COMPASS RELEASES</a></li>
                    <li><a href="schoolsummary">SCHOOL SUMMARY</a></li>
                    <li><a href="aws">AWS ANALYTICS</a></li>

                </ul>
            </li>
           <li><i class="fa fa-book "></i><a href="#">ENGAGEMENT DASHBOARDS</a>
                <ul class="side-nav-dropdown">
                    <li><a href="NameEScore">DISTRICT ENGAGEMENT</a></li>
                    <li><a href="Disctrictfilter">DP-360</a></li>
                    <li><a href="Local_Disctrictfilter">Local Districts</a></li>
                    <!-- <li><a href="partner">PARTNER PORTAL</a></li> -->
                    <li><a href="Login_analytics">LOGIN ANALYTICS</a></li>
                    <!-- <li><a href="schoolengagement">SCHOOL ENGAGEMENT</a></li> -->
                    <!-- <li><a href="School_Analytics">SCHOOL ANALYTICS</a></li> -->
                    <li><a href="School_Search">SCHOOL SEARCH</a></li>
                    <li><a href="School_Search_comparison">SCHOOL COMPARISON</a></li>
                    <li><a href="leadGeneration">LEAD GENERATION</a></li>
                    <!-- <li><a href="21daystreak">21 Day Streak</a></li> -->
                </ul>
            </li>
            <li><i class="fa fa-history"></i><a href="#">PLAYBACK ANALYTICS</a>
                <ul class="side-nav-dropdown">
                    <li><a href="Practice_Analytics">SCHOOL PLAYBACK ANALYTICS</a></li>
                    <li><a href="Scoology">SCHOOLOGY</a></li>
                    <li><a href="Family_practice_analytics">APP PLAYBACK ANALYTICS</a></li>
                    <li><a href="Progarm_wise_Analytics">PROGRAM WISE ANALYTICS</a></li>
                    <!-- <li><a href="audio_analytics">AUDIO ANALYTICS</a></li> -->
                    <li><a href="tunein">TUNE_IN DASHBOARD</a></li>
                    <li><a href="Practice_streak">PLAYBACK STREAK</a></li>
                    <!-- <li><a href="pracbifurcation">PLAYBACK BIFURCATION</a></li> -->
                </ul>
            </li>
            <li class="active">
                <i class="fa fa-dollar"></i><a href="#">REVENUE DASHBOARDS</a>
                <ul class="side-nav-dropdown">
                    <li class="active2"><a href="Transaction_Reporting">REVENUE OVERVIEW</a></li>
                    <li class="active2"><a href="Donation">DONATION DASHBOARD</a></li>
                    <li class="active2"><a href="School_Revenue">SCHOOL REVENUE</a></li>
                </ul>
            </li>
            <li><i class="fa fa-bolt"></i><a href="#">FEEDBACK AND SURVEY</a>
                <ul class="side-nav-dropdown">
                    <li><a href="feedback_Analyitcs">FEEDBACK ANAYLTICS</a></li>
                    <li><a href="sentiment">SENTIMENT ANAYLTICS</a></li>
                    <li><a href="feedback_Trends">FEEDBACK TRENDS</a></li>
                    <li><a href="Family_SURVEY">HOME SURVEY ANALYTICS</a></li>
                    <li><a href="feedback_Analyitcs_family">HOME FEEDBACK ANALYTICS</a></li>
                </ul>
            </li>
            <li>
                <i class="fa fa-users "></i><a href="#">SUBSCRIPTION DASHBOARDS</a>
                <ul class="side-nav-dropdown">
                    <li><a href="Upcoming_Renewals">UPCOMING RENEWAL</a></li>
                    <li><a href="d1districts">D1 DISTRICTS</a></li>
                    <li><a href="mobile_sub">MOBILE SUBSCRIPTION</a></li>
                    <li><a href="Sms_analytics">SMS ANALYTICS</a></li>

                </ul>
            </li>

            <li><i class="fa fa-star"></i><a href="#">APP ANALYTICS</a>
                <ul class="side-nav-dropdown">
                    <li><a href="Parents_Analytics">HOME APP OVERVIEW</a></li>
                    <li><a href="Familyapp_school">HOME APP SCHOOL</a></li>
                    <!-- <li><a href="Family_School_Search"> HOME APP SCHOOL SEARCH</a></li>-->
                    <!--<li><a href="Parents_map_view">HOME APP GEO</a></li>-->
                    <!--<li><a href="Android_analytics">ANDROID ANALYTICS</a></li>-->
                    <li><a href="IOS_Analytics">IOS ANALYTICS</a></li>
                </ul>
            </li>
            <li style="margin-top:135px"><i class="fa fa-code-fork"></i><a href="#">CAP VERSION<span
           style="margin: 0 5px 0 5px !important; cursor: default !important;" id="version">6.0</span></a>
            </li>
            <!-- <li id="myBtn2"><i class="fa fa-envelope-open-o fa-fw"></i>Contact Us</li> -->
    </aside>
    <section id="contents">
        <!-- The Modal -->

        <link href="https://cdn.webdatarocks.com/latest/webdatarocks.min.css" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <script src="https://cdn.webdatarocks.com/latest/webdatarocks.toolbar.min.js"></script>
        <script src="https://cdn.webdatarocks.com/latest/webdatarocks.js"></script>
        <script src="https://cdn.webdatarocks.com/latest/webdatarocks.highcharts.js"></script>

        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/highcharts-more.js"></script>
        <style>
            #wdr-pivot-view>span>a {
                display: none;
            }
        </style>

        <div id="wdr-component" style="margin-top: 50px;"></div>

        <div id="highchartsContainer" style="background-color: #fff;"></div>
        <!-- partial -->
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
        <script src="{{ url_for('static',filename='js/callibration.js') }}"></script>

        <!-- partial -->

</body>

</html>