<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - search cards</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css'>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">

</head>
<style>
  .ds_dp {
    background-color: #fff;
    border: 0;
    color: #5cb85c;
    width: 14%;
    border-radius: 20px 0 0 20px;
    padding: 20px;
    margin-left: 30px;
    margin-top: 20px;
    float: left;
  }

  .mr1 {
    margin-left: 0 !important;
    width: 37% !important;
    border-radius: 0 !important;
  }

  .mr2 {
    margin-left: 0 !important;
    width: 18% !important;
    border-radius: 0 20px 20px 0;
    height: 63px;
  }

  .threebox {
    float: left;
    width: 100%;
    padding: 40px 0
  }

  html {
    scroll-behavior: smooth;
  }



  .sticky-wrapper{
    overflow: auto;
    position:relative;
    margin: 0 auto 1.5em;
    width: 75%;
}

table{
  /* border-collapse: collapse; */
  margin-bottom: 1em;
  width: 100%;
}

caption {
  caption-side: top;
  font-weight: bold;
  font-size: 1.1em;
  font-family: "open sans", roboto;
}

th {
    background-color: white;
    font-weight: normal;
}

thead tr:nth-child(1) th {
  position: sticky;
  top: 0;
  z-index: 10;
}

tbody th {
  font-size: 10px !important;
  position: sticky;
  left: 0;
  z-index: 10;
}

td, th{
  padding: 0 20px;
text-align: left;
}

td{
  min-width: 20px;
  width: 20px;
  max-width: 30px;
}

.legend{
  margin: 0 auto;
  width:25%;
  font-family: roboto, arial;
  font-size: 0.75em;
}
.color-square{
  float:left;
  width: 9%;
  margin-right: 1%;
  height:1.5em;
}
.align-left{
  float: left;
}
.align-right{
  float: right;
}
.fa-snowflake{
  color:#3C2EA8;
}
.cold{
  color:#7A2EA1;
}

.fa-sun{
  color:#F06E1D;
}

.hot{
  color:#E61717;
}


  .box-outer-nw {
    float: left;
    width: 100%;
    padding: 0;
    background: #ffffff none repeat scroll 0 0;
    -moz-box-shadow: 0 0 10px #cccccc;
    -webkit-box-shadow: 0 0 10px #cccccc;
    -o-box-shadow: 0 0 10px #cccccc;
    box-shadow: 0 0 10px #cccccc;
    text-align: center
  }

  .box-outer-nw img {
    width: 150px;
    margin: 0 auto;
    padding: 20px;
    min-height: 1px;
    opacity: 0.7;
  }

  .text-s {
    float: left;
    color: #464b48;
    width: 100%;
    margin: 0;
    text-align: center;
    font-size: 8px;
    text-transform: uppercase;

    padding: 15px 0
  }

  .threebox .col-md-4 a {
    color: rgb(236, 236, 236)
  }

  .box-outer-nw:hover {
    box-shadow: 0 0 18px #b1b1b1;
  }

  .box-outer-nw:hover img {
    opacity: 1
  }

  .box_outer_color {
    float: left;
    width: 100%;
  }

.districtdet{
  float: right;
}

  .box-outer-nw {
    float: left;
    width: 100%;
    padding: 0;
    background: #ffffff none repeat scroll 0 0;
    -moz-box-shadow: 0 0 10px #cccccc;
    -webkit-box-shadow: 0 0 10px #cccccc;
    -o-box-shadow: 0 0 10px #cccccc;
    box-shadow: 0 0 10px #cccccc;
    text-align: center
  }
  .select_button{
    padding: 10px;
border-radius: 10px;
background-color: #50a756;
color: #fff;
margin-top: 25px;
border: 0;
box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);
  }
</style>

<style>
  .pul li {
    margin-top: 0 !important;
  }

  .card img {
    padding: 0px 10px;
    height: 135px;
  }

  .modal-content {
    overflow: scroll;
    width: 87% !important;
  }
  .districtname{
    float: right;
background-color: #fff;
padding: 15px;
border-radius: 20px;
  }

  .card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: 0.25rem;
}
.bg-dark {
    background-color: #343a40 !important;
}
.card_img {
    padding: 0px 0px !important;
    height: 115px  !important;
}
.containercards {
  padding: 10px;
}
</style>
<body>
<!-- partial:index.partial.html -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="containercards">
      <div class="row">
          <button onclick="cose()" style="padding: 5px;
          background-color: #50a756;
          color: white;
          float: right;">Close X</button>
        <div class="col-sm-4 mb-4">
          <input type="text" id="myFilter" class="form-control" onkeyup="myFunction()" placeholder="Search any district">
        </div>
      </div>
      <div class="row" id="myProducts2"> 
      </div>
        </div> 
  </div>
</div>




<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script><script>
   var modal = document.getElementById("myModal");
  modal.style.display = "block";
function myFunction() {
  var input, filter, cards, cardContainer, title, i;
  input = document.getElementById("myFilter");
  filter = input.value.toUpperCase();
  cardContainer = document.getElementById("myProducts2");
  cards = cardContainer.getElementsByClassName("card");
  for (i = 0; i < cards.length; i++) {
    title = cards[i].querySelector(".card-title");
    if (title.innerText.toUpperCase().indexOf(filter) > -1) {
      cards[i].style.display = "";
    } else {
      cards[i].style.display = "none";
    }
  }
}


createboxes();

function createboxes(){
  var districts = {"data":[['5f2609807a1c0000950bb45a',
  'Los Angeles Unified School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/lausd.png'],
 ['5f2609807a1c0000950bb45b',
  'Westfield Public School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/westfield.png'],
 ['5f2609807a1c0000950bb45c',
  'Comox Valley School District(sd71)',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/comox.png'],
 ['5f2609807a1c0000950bb45d',
  'Youngstown',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/youngstown.png'],
 ['5f2609807a1c0000950bb45e',
  'Fairfield-Suisun Unified School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/FSUSD.png'],
 ['5f2609807a1c0000950bb45f',
  'Griffin-Spalding County School System',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/griffin-spalding.png'],
 ['5f2609807a1c0000950bb460',
  'Clarksville-Montgomery County School System',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/clarksville.png'],
 ['5f2609807a1c0000950bb461',
  'Englewood Public School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/englewood.png'],
 ['5f2609807a1c0000950bb463',
  'Austin Independent School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/austin.png'],
 ['5f2609807a1c0000950bb465',
  'Middleton-Cross Plains Area School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/middleton-cross.png'],
 ['5f2609807a1c0000950bb466',
  'Pinellas County Schools',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/pinellas.png'],
 ['5f2609807a1c0000950bb467',
  'Lincolnshire Schools',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/linconlnshire.png'],
 ['5f2609807a1c0000950bb469',
  'LSF -  Head Start',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/lsf.png'],
 ['5f2609807a1c0000950bb46a',
  'Springfield Public School',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/springfield.png'],
 ['5f2609807a1c0000950bb46c',
  'Chico Unified School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/chico.png'],
 ['5f2609807a1c0000950bb46d',
  'Broward County Public Schools',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/broward.png'],
 ['5f2609807a1c0000950bb46f',
  'Paradise Schools',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/paradise.png'],
 ['5f2609807a1c0000950bb470',
  'San Leandro Unified School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/san_leandro.png'],
 ['5f2609807a1c0000950bb471',
  'Racine Unified Schools',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/racine.png'],
 ['5f2609807a1c0000950bb472',
  'Oroville City Elementary School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/oroville.png'],
 ['5f2609807a1c0000950bb474',
  'Greenburgh North Castle Union Free School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/greenburgh.png'],
 ['5f2609807a1c0000950bb475',
  'Agawam School district',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/Agawam.png'],
 ['5f2609807a1c0000950bb476',
  'Hillsborough County',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/hillsborough.png'],
 ['5f2609807a1c0000950bb477',
  'Sarasota County',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/sarasota.png'],
 ['5f2609807a1c0000950bb478',
  'San Diego Unified School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/sandiego.png'],
 ['5f2609807a1c0000950bb47b',
  'Ann Arbor Public Schools',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/ann_arbor.png'],
 ['5f2609807a1c0000950bb47d',
  'Flint Public Schools',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/flint.png'],
 ['5f2609807a1c0000950bb47e',
  'La Joya School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/la_joya.png'],
 ['5f2609807a1c0000950bb47f',
  'Community Consolidated School District 89',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/ccsd.png'],
 ['5f2609807a1c0000950bb482',
  'Massachusetts Institute of Technology',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/mit.png'],
 ['5f2609807a1c0000950bb450',
  'Goleta District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/goleta.png'],
 ['5f2609807a1c0000950bb455',
  'Krum Independent School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/krum.png'],
 ['5f2609807a1c0000950bb368',
  'Wichita Falls Independent School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/wichita.png'],
 ['5f59e4836451a9089d7d4007',
  'Belleville School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/belleville.png'],
 ['5f698b826451a9089d7d4008',
  'Wayne Metro',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/Wayne_Metro.png'],
 ['5f6994386451a9089d7d4009',
  'Ogden school district',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/ogden.png'],
 ['5f6d7cbce6452eb06384db20',
  'Salt Lake City School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/salt_lake.png'],
 ['5f7413ef9387fd71ce6387cb',
  'Douglas County School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/douglas.png'],
 ['5f7c01fa9387fd71ce6387cc',
  'NYC - Queens South',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/queens_south.png'],
 ['5f895191609e08b76029f641',
  'Early learning Sarasota',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/early_learning_sarasota.png'],
 ['5f8fcd33609e08b76029f644',
  'Paradise Unified School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/paradise.png'],
 ['5fbcdf0ba84e48a64412a798',
  'Needham School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/needham.png'],
 ['5fd704da04a848e368de5dc6',
  'Oakland Unified School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/oakland.png'],
 ['5fe2e1ee4d0ca68d7baf889c',
  'LSF-Head Start',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/lsf.png'],
 ['5fe2e25d4d0ca68d7baf889d',
  'BGCA',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/BGCA.png'],
 ['5ffd8176469a86e28635f512',
  'Chula Vista Elementary School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/chula_vista.png'],
 ['6017ab3043ca9c39151838d4',
  'Oswego School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/oswego.png'],
 ['5f2609807a1c0000950bb459',
  'North Special School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/north_special.png'],
 ['60239a84e57dc27613699d57',
  'Austin Independent School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/austin.png'],
 ['6023a6d79e8e623753fc305c',
  'Boulder Valley School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/boulder_valley.png'],
 ['6023a7019e8e623753fc305d',
  'Miami-Dade County Public Schools',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/miami-dade.png'],
 ['6023a7269e8e623753fc305e',
  'Fulton County School System',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/fulton.png'],
 ['6023a7499e8e623753fc305f',
  'Manatee County School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/manatee.png'],
 ['6023a76f9e8e623753fc3060',
  'San Jose Unified School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/san_jose.png'],
 ['6023a7949e8e623753fc3061',
  'Wasatch County School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/wasatch.png'],
 ['6045e4c707ead7744b125839',
  'Hartford Public Schools',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/hartford.png'],
 ['6045e4c707ead7744b12583a',
  'Durham Public Schools',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/durham.png'],
 ['6045e4c807ead7744b12583b',
  'Boston Public Schools',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/boston.png'],
 ['6045e4c907ead7744b12583c',
  'Northside Independent School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/northside.png'],
 ['6045e4c907ead7744b12583d',
  'Apple Valley Unified School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/apple_valley.png'],
 ['6045e4ca07ead7744b12583e',
  'Bishop Unified School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/bishop.png'],
 ['6045e4ca07ead7744b12583f',
  'Canyons School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/canyons.png'],
 ['6045e4cb07ead7744b125840',
  'Denver Public Schools',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/denver.png'],
 ['6045e4cc07ead7744b125841',
  'Fairfax County Public Schools',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/fairfax.png'],
 ['6045e4cc07ead7744b125842',
  'Houston Independent School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/houston.png'],
 ['6045e4cd07ead7744b125843',
  'Falmouth Public Schools',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/falmouth.png'],
 ['6045e4cd07ead7744b125844',
  'Granite School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/granite.png'],
 ['6045e4ce07ead7744b125845',
  'Helena Public Schools',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/helena.png'],
 ['6045e4cf07ead7744b125846',
  'Lamar Consolidated Independent School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/lamar.png'],
 ['6045e4cf07ead7744b125847',
  'Muscatine Community School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/muscatine.png'],
 ['6045e4d007ead7744b125848',
  'Adams 12 Five Star Schools',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/adams_12.png'],
 ['6045e4d107ead7744b125849',
  'Berkeley Public Schools',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/berkeley.png'],
 ['6045e4d107ead7744b12584a',
  'Bismarck Public Schools',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/bismarck.png'],
 ['6045e4d207ead7744b12584b',
  'Glenbard District 87',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/glenbard.png'],
 ['6045e4d207ead7744b12584c',
  'White River School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/white_river.png'],
 ['6045e4d307ead7744b12584d',
  'KIPP Public Schools',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/kipp.png'],
 ['6045e4d307ead7744b12584e',
  'Millard School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/millard.png'],
 ['6045e4d407ead7744b12584f',
  'Mill Valley School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/mill_valley.png'],
 ['6045e4d507ead7744b125850',
  'Rich School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/rich.png'],
 ['6045e4d507ead7744b125851',
  'San Francisco Unified School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/san_francisco.png'],
 ['6045e4d607ead7744b125852',
  'Upland Unified School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/upland.png'],
 ['6045e4d607ead7744b125853',
  'West Contra Costa Unified School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/west_contracosta.png'],
 ['6045e4d707ead7744b125854',
  'Adams County School District 14',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/adams_county.png'],
 ['6045e4d707ead7744b125855',
  'Aurora Public Schools',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/aurora.png'],
 ['6045e4d807ead7744b125856',
  'School District of the Chathams',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/chathams.png'],
 ['6045e4d907ead7744b125857',
  'Colton Joint Unified School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/colton.png'],
 ['6045e4d907ead7744b125858',
  'Chicago Public Schools',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/chicago.png'],
 ['6045e4da07ead7744b125859',
  'Dennis-Yarmouth Regional School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/dennis-yarmouth.png'],
 ['6045e4da07ead7744b12585a',
  'FITCHBURG PUBLIC SCHOOLS',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/fitchburg.png'],
 ['6045e4db07ead7744b12585b',
  'HidalgoIndependent School district',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/hidalgo.png'],
 ['6045e4db07ead7744b12585c',
  'Hopedale Public Schools',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/hopedale.png'],
 ['6045e4dc07ead7744b12585d',
  'Kearsarge Regional School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/kearsarge_regional.png'],
 ['6045e4dc07ead7744b12585e',
  'Littleton Public Schools',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/littleton.png'],
 ['6045e4dd07ead7744b12585f',
  'Palm Beach County School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/palm_beach.png'],
 ['6045e4de07ead7744b125860',
  'Paterson School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/paterson.png'],
 ['6045e4de07ead7744b125861',
  'Sevier School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/sevier.png'],
 ['6045e4df07ead7744b125862',
  'San Marcos Unified School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/san_marcos.png'],
 ['6045e4df07ead7744b125863',
  'San Marino Unified School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/san_marino.png'],
 ['6045e4e007ead7744b125864',
  'South Summit School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/south_summit.png'],
 ['6045e4e007ead7744b125865',
  'Sudbury Public Schools',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/sudbury.png'],
 ['6045e4e107ead7744b125866',
  'Tooele County School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/tooele.png'],
 ['6045e4e207ead7744b125867',
  'Washoe County School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/washoe.png'],
 ['6045e4e207ead7744b125868',
  'Westford Public Schools',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/westford.png'],
 ['60473f8823e88e242074ebd2',
  'Champlain Valley School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/champlain.png'],
 ['5f2609807a1c0000950bb481',
  'Alameda Unified School District',
  'https://test.innerexplorer.org/IE-tech/XP/almeda.png'],
 ['6077e1b5eaa8bae0e2e04a64',
  'Medfield School District',
  'https://xp.innerexplorer.org/compass/styles/images/allnewportals/allnewportalsdistrict/medfieldschool.png']]
}
  console.log("datain");
  for(var i=0;i<districts.data.length;i++){
    var datain = districts.data[i];
   console.log(datain);
   var resultDiv = createDynamicDiv(datain);
   $("#myProducts2").append(resultDiv);
    }
}
function createDynamicDiv(userList){
  var dynamicDiv = '';
  console.log(userList)
  
  
  
  
  dynamicDiv +=  '<div class="col-md-2 card" style="border: none !important;"><div class=" portalBox" ><div class=" d-sm-flex justify-content-sm-between align-items-sm-center"><div class=" card-title text-s"><div onclick="distselect(\''+userList[0]+'\'),imgd(\''+userList[2]+'\')" class="box-outer-nw" style="color: #797979;border-radius: 20px;" onclick="mind()"><img src="'+ userList[2] +'" class="img-responsive card_img"  alt="School"><p class="text-s" style="border-radius: 20px;background-color: #fafafa;">'+ userList[1] +'</p></div></div></div></div></div>'
  
        
  return dynamicDiv;
  }
  </script>

</body>
</html>
