<!DOCTYPE html>
<!-- partial:index.partial.html -->
<html lang="en">

<head>
    <link rel="icon" href="{{ url_for('static',filename='images/favicon.ico') }}" type="image/gif" sizes="16x16">
    <meta charset="UTF-8">
    <title>CAPXP FAMILY ANALYTICS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/search2.css') }}">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>


    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/main.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/map-table.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/schoolsearchstyle.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/buttonstyle.css') }}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EWVQZSV89G"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-EWVQZSV89G');
    </script>
</head>
<style>
    .section-2 {
        width: 100%;
        float: center;
        padding-left: 100px;
        max-height: 600px;
    }
    
    .btn {}
    
    img:hover {
        -webkit-transform: scale(1.1);
        transform: scale(1.0);
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
    }
    
    .active {
        color: #00A651;
        ;
    }
</style>

<body class="body">

    <nav class="navbar navbar-default">
        <div class="">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="page_Heading" href="#">District Level Parent View</a>
                    <a href="homepage">
                        <img src="{{ url_for('static',filename='images/capwhite.png') }}" alt="" class="logo">
                    </a>
                </div>
                <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li style="left: 2px;
            top: 34px;color: #fff;" title="Page Views" id="myBtn2"><i class="fa fa-eye" aria-hidden="true" style="margin-left: 22px;/*! margin-top: 12px; */margin-right: 5px;"></i>
                            <p style="float: right;">Views</p>
                            <p id="count" style="float: right;margin-right: 3px;"></p>
                        </li>
                        <!--<li style="left: 10px;
            top: 34px;
            color: #fff;
            cursor: pointer;" id="myBtn"><i class="fa fa-lightbulb-o" style="margin-top:2px;"></i><p style="float: right;">Insights</p><p style="float: right;margin-right: 3px; margin-left: 5px;">3</p></li>-->
                        <li style="left:10px;top:18px;"><a id="share" href="#"><i class="fa fa-share" aria-hidden="true" style="margin-top:2px;margin-right: 3px;"></i></a></li>
                        <li style="top:18px;"><a href="#"><i data-show="show-side-navigation1" class="fa fa-bars show-side-btn"></i></a></li>
                        <li style="margin-top: 27px;">
                            <div class="dropdown">
                                <button class="btn btn-primary " id="menu1" type="button" data-toggle="dropdown" style="border: 0;font-size: 16px; border-radius: 50%;">{{g.user.nameinitial}}<span id="logid" style="display: none;">{{g.user.id}}</span></button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="login">{{g.user.name}}</a></li>
                                    <hr />
                                    <li role="presentation"><a role="menuitem" tabindex="-1" href="login">LOGOUT</a></li>
                                </ul>
                            </div>
                    </ul>
                </div>
                <div class="input-Container ui-widget">
                    <i class="fa fa-search Icon"></i>
                    <div id="iid" class="input-Field">
                    </div>
                    <button class="search_Bt" style="padding-right: 4px !important;" onclick="search()" id="hel"><i class="fa fa-search Search_icon"></i></button>
                    <p style="display: none;" id="tagdescription"></p>
                    <p style="display: none;" id="tagdescription"></p>
                    <!--<div class="select_Bt">
        <select id="myselect" style="margin-top: 7px;">
          <option value="1">DASHBAORD</option>
          <option value="2">SCHOOL</option>
        </div>
      </select>-->
                </div>
            </div>
        </div>
    </nav>
    <aside class="side-nav" id="show-side-navigation1">
        <!-- <i class="fa fa-bars close-aside hidden-sm hidden-md hidden-lg" data-close="show-side-navigation1"></i> -->
        <ul class="categories" style="margin-top:35px;">
            <li>
                <i class="fa fa-home" aria-hidden="true"></i>
                <a href="#">EXECUTIVE SUMMARY</a>
                <ul class="side-nav-dropdown">
                    <li>
                        <a href="Executive_Dashboard">CAP SUMMARY</a></li>
                    <li><a href="Daily_Analytics">DAILY ANALYTICS</a></li>
                    <li><a href="Weekly_Analytics">WEEKLY ANALYTICS</a></li>
                    <li><a href="aws_releases">COMPASS RELEASES</a></li>
                    <li><a href="schoolsummary">SCHOOL SUMMARY</a></li>
                    <li><a href="awsmain">AWS ANALYTICS</a></li>
                    <li><a href="aws">DATABASE PERFROMANCE ANALYTICS</a></li>


                </ul>
            </li>
            <li><i class="fa fa-book "></i><a href="#">ENGAGEMENT DASHBOARDS</a>
                <ul class="side-nav-dropdown">
                    <li><a href="NameEScore">DISTRICT ENGAGEMENT</a></li>
                    <li><a href="Disctrictfilter">DISTRICT 360</a></li>
                    <li><a href="partner">PARTNER PORTAL</a></li>
                    <li><a href="Login_analytics">LOGIN ANALYTICS</a></li>
                    <!-- <li><a href="schoolengagement">SCHOOL ENGAGEMENT</a></li> -->
                    <!-- <li><a href="School_Analytics">SCHOOL ANALYTICS</a></li> -->
                    <li><a href="School_Search">SCHOOL SEARCH</a></li>
                    <li><a href="School_Search_comparison">SCHOOL COMPARISON</a></li>
                    <!-- <li><a href="21daystreak">21 Day Streak</a></li> -->
                </ul>
            </li>
            <li><i class="fa fa-history"></i><a href="#">PLAYBACK ANALYTICS</a>
                <ul class="side-nav-dropdown">
                    <li><a href="Practice_Analytics">SCHOOL PLAYBACK ANALYTICS</a></li>
                    <li><a href="Scoology">SCHOOLOGY</a></li>
                    <li><a href="Family_practice_analytics">APP PLAYBACK ANALYTICS</a></li>
                    <li><a href="Progarm_wise_Analytics">PROGRAM WISE ANALYTICS</a></li>
                    <!-- <li><a href="audio_analytics">AUDIO ANALYTICS</a></li> -->
                    <li><a href="tunein">TUNE_IN DASHBOARD</a></li>
                    <li><a href="Practice_streak">PLAYBACK STREAK</a></li>
                    <!-- <li><a href="pracbifurcation">PLAYBACK BIFURCATION</a></li> -->
                </ul>
            </li>
            <li>
                <i class="fa fa-dollar"></i><a href="#">REVENUE DASHBOARDS</a>
                <ul class="side-nav-dropdown">
                    <li><a href="Transaction_Reporting">REVENUE OVERVIEW</a></li>
                    <li><a href="Donation">DONATION DASHBOARD</a></li>
                    <li><a href="School_Revenue">SCHOOL REVENUE</a></li>
                    <li><a href="Bill_later">BILL ME LATER</a></li>
                </ul>
            </li>
            <li><i class="fa fa-bolt"></i><a href="#">FEEDBACK AND SURVEY</a>
                <ul class="side-nav-dropdown">
                    <li><a href="feedback_Analyitcs">FEEDBACK ANAYLTICS</a></li>
                    <li><a href="sentiment">SENTIMENT ANAYLTICS</a></li>
                    <li><a href="feedback_Trends">FEEDBACK TRENDS</a></li>
                    <li><a href="Family_SURVEY">HOME SURVEY ANALYTICS</a></li>
                    <li><a href="feedback_Analyitcs_family">HOME FEEDBACK ANALYTICS</a></li>
                </ul>
            </li>
            <li>
                <i class="fa fa-users "></i><a href="#">SUBSCRIPTION DASHBOARDS</a>
                <ul class="side-nav-dropdown">
                    <li><a href="Upcoming_Renewals">UPCOMING RENEWAL</a></li>
                    <li><a href="d1districts">D1 DISTRICTS</a></li>
                    <li><a href="mobile_sub">MOBILE SUBSCRIPTION</a></li>
                    <li><a href="Sms_analytics">SMS ANALYTICS</a></li>

                </ul>
            </li>

            <li><i class="fa fa-star"></i><a href="#">APP ANALYTICS</a>
                <ul class="side-nav-dropdown">
                    <li><a href="Parents_Analytics">HOME APP OVERVIEW</a></li>
                    <li><a href="Familyapp_school">HOME APP SCHOOL</a></li>
                    <!-- <li><a href="Family_School_Search"> HOME APP SCHOOL SEARCH</a></li>-->
                    <!--<li><a href="Parents_map_view">HOME APP GEO</a></li>-->
                    <!--<li><a href="Android_analytics">ANDROID ANALYTICS</a></li>-->
                    <li><a href="IOS_Analytics">IOS ANALYTICS</a></li>
                </ul>
            </li>
            <li style="margin-top: 150px;"><i class="fa fa-code-fork"></i><a href="#">CAP VERSION<span style="margin: 0 5px 0 5px !important;" id="version">6.0</span></a>
            </li>
            <!-- <li id="myBtn2"><i class="fa fa-envelope-open-o fa-fw"></i>Contact Us</li> -->
    </aside>
    <section id="contents">
        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <button onclick="cose()">Close X</button>
                <section class="mtsection">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header no-border">
                                        <h4 class="card-title">Information<a href="#popup1"><i class="fa fa-pencil" aria-hidden="true" style="float: right;cursor: pointer;" ></i></a></h4>


                                    </div>
                                    <div class="card-body card-contentt">
                                        <div class="card-block">
                                            <p id="schoolname"></p>
                                            <p id="admin"></p>
                                            <p id="email"></p>
                                            <p id="adress"></p>
                                            <p id="city"></p>
                                            <p id="state"></p>
                                            <p id="country"></p>
                                            <p style="float: left;margin-right: 9px;"><b>Renewal Date:</b>
                                                <p id="renewal"></p>
                                            </p>
                                            </a>
                                            </p>




                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">



                                <section class="mtsection">
                                    <div class="">
                                        <div class="pcard">
                                            <div class="col-md-6 col-sm-6">
                                                <div class="card card-stats">
                                                    <div class="card-header" data-background-color="rose1">
                                                        <img src="{{ url_for('static',filename='images/capuser.png') }}" style="width: 54px;" class="img-responsive">
                                                    </div>
                                                    <div class="card-content">
                                                        <p class="category">Total Users</p>
                                                        <h3 class="card-title" id="ucount"></h3>


                                                    </div>

                                                </div>
                                            </div>

                                            <div class="col-md-6 col-sm-6">
                                                <div class="card card-stats">
                                                    <div class="card-header" data-background-color="rose">
                                                        <img src="{{ url_for('static',filename='images/capminute.png') }}" style="width: 54px;" class="img-responsive">
                                                    </div>
                                                    <div class="card-content">
                                                        <p class="category">Playback Count</p>
                                                        <h3 class="card-title" id="pcount"></h3>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="col-md-6 col-sm-6">
                                                <div class="card card-stats">
                                                    <div class="card-header" data-background-color="green">
                                                        <img src="{{ url_for('static',filename='images/capstudy.png') }}" style="width: 54px;" class="img-responsive">
                                                    </div>
                                                    <div class="card-content">
                                                        <p class="category"> Mindful Minutes</p>
                                                        <h3 class="card-title" id="mindfulness_minutes"></h3>
                                                    </div>
                                                    <!-- <div class="card-footer">
                <div class="stats">
                  <i class="material-icons text-danger">warning</i> <a href="#pablo">Get More Space...</a>
                </div>
              </div> -->
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-sm-6">
                                                <div class="card card-stats">
                                                    <div class="card-header" data-background-color="blue">
                                                        <img src="{{ url_for('static',filename='images/cappractice.png') }}" style="width: 54px;" class="img-responsive">
                                                    </div>
                                                    <div class="card-content">
                                                        <p class="category">5 Star Ratings</p>
                                                        <h3 class="card-title" id="ratings"></h3>
                                                    </div>
                                                    <!-- 	<div class="card-footer">
                <div class="stats">
                  <i class="material-icons text-danger">warning</i> <a href="#pablo">Get More Space...</a>
                </div>
              </div> -->
                                                </div>
                                            </div>

                                            <button class="ex_Button" onclick="explore()">Explore School</button>

                                        </div>

                                    </div>

                                </section>



                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </div>

        <div class="">
            <div class='container10'>
                <form class='autocomplete-container10'>
                    <div class='autocomplete' role='combobox' aria-expanded='false' aria-owns='autocomplete-results' aria-haspopup='listbox'>
                        <input class='autocomplete-input' placeholder='Search for a District' aria-label='Search for a District' aria-autocomplete='both' aria-controls='autocomplete-results'>

                        <button type='submit' class='autocomplete-submit' aria-label='Search'>
                <img src="https://img.icons8.com/cotton/24/000000/search--v2.png"><span>SEARCH</span>
              </button>
                    </div>
                    <ul id='autocomplete-results' class='autocomplete-results hidden' role='listbox' aria-label='Search for a fruit or vegetable'>
                    </ul>
                </form>
                <p class='search-result'></p>
            </div>
            <hr />
            <section class="statistics" style="margin-top: 50px;" id="stats">
                <div class="container-fluid">
                    <div class="row">

                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-2" id="total" onclick="total()" style="cursor:pointer;">

                                    <div class="box2">
                                        <p style="font-size: 9px;">TOTAL FAMILIES REGISTERED</p>
                                        <p style="margin: 0 4px; font-size: 28px; " id="totalparents"></p>




                                    </div>
                                </div>
                                <div class="col-md-2" onclick="sign()" style="cursor:pointer;">

                                    <div class="box2 " style=" margin-left: 20px;">
                                        <p style="font-size: 10px;">APP SIGN-UPS<br /></p>
                                        <p style="margin: 0 4px; font-size: 28px; " id="signup"></p>




                                    </div>
                                </div>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-md-2" onclick="active()" style="cursor:pointer;">

                                            <div class="box2 " style="margin-left: 40px; ">
                                                <p style="font-size: 10px;">ACTIVE FAMILIES</p>
                                                <p style="margin: 0 4px; font-size: 28px; " id="activeparents"></p>




                                            </div>
                                        </div>
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-2">

                                                    <div class="box2 " style="margin-left: 40px; ">
                                                        <p style="font-size: 10px;">TOTAL PLAYBACKS</p>
                                                        <p style="margin: 0 4px; font-size: 28px; " id="playback"></p>




                                                    </div>
                                                </div>
                                                <div class="col-md-2">

                                                    <div class="box2 " style=" margin-left: 60px;">
                                                        <p style="font-size: 10px;">MINDFULNESS MINUTES</p>
                                                        <p style="margin: 0 4px; font-size: 28px; " id="minute"></p>



                                                    </div>
                                                </div>


                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <section>

                                    <hr />
                                    <div class="welcome2">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="content2">
                                                        <div id="viz"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        </section>
                        <section>
                            <div class="welcome2" style="margin-top: -40px;">
                                <div class="container-fluid">
                                    <div class="col-md-12" style="background-color: white; margin-top: 50px; border-radius: 20px; margin-bottom: 20px;">
                                        <div class="row">
                                            <div id="admin" class="col-md-12">
                                                <div class="card material-table">
                                                    <div class="table-header">
                                                        <span class="table-title"></span>

                                                        <a class="btn btn-success btn-logion" style="display:none; float: right;" download="CapdataDistrictlevel.csv" id="btnExport" onclick="return ExcellentExport.csv(this, 'dataTable1');" style=" float: right;margin: 5px 15px;" href="">Export</a>

                                                        <div class="custyle" id="next"></div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                        </section>

                        <div id="popup1" class="overlay">
                            <div class="popup">
                                <h2 style="margin-left: 40px;">CONTACT US</h2>
                                <a class="close" href="#" style="right: 67px !important;">&times;</a>
                                <div class="content">
                                    <form class="form" id="contactForm">

                                        <p type="Name:"><input name="name" id="name" placeholder="Name"></input>
                                        </p>
                                        <p type="Email:"><input name="subject" id="subject" placeholder="Please Add Subject"></input>
                                        </p>
                                        <textarea class="textbox" name="description" id="description" cols="30" rows="7" placeholder="Description"></textarea>
                                        <button class="contactbutton">Send Query</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div id="popup2" class="overlay">
                            <div class="popup">
                                <h2> Insights</h2>
                                <a class="close" href="#" style="right: 120px !important; opacity: 100% !important;">&times;</a>
                                <div class="content">



                                    <div class="toast" id="clonemother">
                                        <div class="toast-content">
                                            <div class="before"></div>
                                            <div class="icon">&#x2714</div>
                                            <div class="text">
                                                <p>Family App District</p>
                                                <p class="message" id="Family_App_District"></p>
                                            </div>
                                            <div onclick="deletethis()" class="close">&#x00D7</div>
                                        </div>
                                    </div>

                                    <div class="toast" id="clonemother">
                                        <div class="toast-content">
                                            <div class="before"></div>
                                            <div class="icon">&#x2714</div>
                                            <div class="text">
                                                <p>Family Signup Trend By District</p>
                                                <p class="message" id="Family_Signup_Trend_By_District"></p>
                                            </div>
                                            <div onclick="deletethis()" class="close">&#x00D7</div>
                                        </div>
                                    </div>









                                    <section>

                                </div>


                            </div>
                        </div>

                        <!-- <div class="botIcon">
    <div class="botIconContainer">
      <div class="iconInner">
        <img src="{{ url_for('static',filename='images/compasslogo.png') }}">
      </div>
    </div>
    <div class="Layout Layout-open Layout-expand">
      <div class="Messenger_messenger">
        <div class="Messenger_header">
          <h4 class="Messenger_prompt" style="color: #fff;">CAPXP Bot</h4> <span class="chat_close_icon"><i
              class="fa fa-window-close" aria-hidden="true"></i></span>
        </div>
        <div class="Messenger_content">
          <div class="Messages">
            <div class="Messages_list"></div>
          </div>
          <form id="messenger">
            <div class="Input Input-blank">
          
              <input name="msg" class="Input_field" placeholder="Send a message..." autocomplete="off">
              <button type="submit" class="Input_button Input_button-send">
                <div class="Icon">
                  <svg viewBox="1496 193 57 54" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Group-9-Copy-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                      transform="translate(1523.000000, 220.000000) rotate(-270.000000) translate(-1523.000000, -220.000000) translate(1499.000000, 193.000000)">
                      <path
                        d="M5.42994667,44.5306122 L16.5955554,44.5306122 L21.049938,20.423658 C21.6518463,17.1661523 26.3121212,17.1441362 26.9447801,20.3958097 L31.6405465,44.5306122 L42.5313185,44.5306122 L23.9806326,7.0871633 L5.42994667,44.5306122 Z M22.0420732,48.0757124 C21.779222,49.4982538 20.5386331,50.5306122 19.0920112,50.5306122 L1.59009899,50.5306122 C-1.20169244,50.5306122 -2.87079654,47.7697069 -1.64625638,45.2980459 L20.8461928,-0.101616237 C22.1967178,-2.8275701 25.7710778,-2.81438868 27.1150723,-0.101616237 L49.6075215,45.2980459 C5.08414042,47.7885641 49.1422456,50.5306122 46.3613062,50.5306122 L29.1679835,50.5306122 C27.7320366,50.5306122 26.4974445,49.5130766 26.2232033,48.1035608 L24.0760553,37.0678766 L22.0420732,48.0757124 Z"
                        id="sendicon" fill="#96AAB4" fill-rule="nonzero"></path>
                    </g>
                  </svg>
                </div>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> -->
                        <!--<script src="{{ url_for('static',filename='js/accessdom.js') }}"></script>-->
                        <script>
                            $('#myselect').change(function() {
                                if (this.value == '1') {
                                    var availableTags = [
                                        "CAP SUMMARY"
                                    ];
                                    $("#tag").autocomplete({
                                        source: availableTags,
                                    });
                                    $("#sid").empty();
                                    $("#sid").append('<button onclick=search() id="hel">SEARCH</button>');

                                } else if (this.value == '2') {

                                    $("#sid").empty();
                                    var settings = {
                                        "async": true,
                                        "crossDomain": true,
                                        "url": "https://mongospider.herokuapp.com/schoolname/5f155b8a3b6800007900da2a",
                                        "method": "GET"
                                    }
                                    $.ajax(settings).done(function(response) {
                                        var dataa = JSON.parse(response);
                                        var availableTags = dataa;
                                        $("#tag").autocomplete({
                                            source: availableTags,
                                        });
                                    });
                                    $("#sid").append('<button onclick=search2() id="hel">SEARCH</button>');

                                }
                            });
                        </script>
                        <script src="{{ url_for('static',filename='js/countapi.js') }}"></script>
                        <script src="{{ url_for('static',filename='js/search.js') }}"></script>
                        <script src="{{ url_for('static',filename='js/contact.js') }}"></script>
                        <script src="{{ url_for('static',filename='js/snapshot.js') }}"></script>
                        <script src="{{ url_for('static',filename='js/insight.js') }}"></script>
                        <script src="{{ url_for('static',filename='js/chatbot.js') }}"></script>
                        <script src="{{ url_for('static',filename='js/mail.js') }}"></script>

                        <script>
                            var header = document.getElementById("stats");
                            var btns = header.getElementsByClassName("box2");
                            for (var i = 0; i < btns.length; i++) {
                                btns[i].addEventListener("click", function() {
                                    var current = document.getElementsByClassName("active");
                                    current[0].className = current[0].className.replace(" active", "");
                                    this.className += " active";
                                });
                            }
                            var data = ['CHICO IAMPRESENT', 'LG IAMPRESENT', 'YOUNGSTOWN IAMPRESENT', 'FAIRFIELD IAMPRESENT', 'ENGELWOOD IAMPRESENT', 'SARASOTA IAMPRESENT']
                            let URL = '/schoolsearch/'
                            let TOTAL = '1'
                            let SIGNUPS = '1'
                            let ACTIVE = '1'
                            class Autocomplete {
                                constructor({
                                    rootNode,
                                    inputNode,
                                    resultsNode,
                                    searchFn,
                                    shouldAutoSelect = false,
                                    onShow = () => {},
                                    onHide = () => {}
                                } = {}) {
                                    this.rootNode = rootNode
                                    this.inputNode = inputNode
                                    this.resultsNode = resultsNode
                                    this.searchFn = searchFn
                                    this.shouldAutoSelect = shouldAutoSelect
                                    this.onShow = onShow
                                    this.onHide = onHide
                                    this.activeIndex = -1
                                    this.resultsCount = 0
                                    this.showResults = false
                                    this.hasInlineAutocomplete = this.inputNode.getAttribute('aria-autocomplete') === 'both'

                                    // Setup events
                                    document.body.addEventListener('click', this.handleDocumentClick)
                                    this.inputNode.addEventListener('keyup', this.handleKeyup)
                                    this.inputNode.addEventListener('keydown', this.handleKeydown)
                                    this.inputNode.addEventListener('focus', this.handleFocus)
                                    this.resultsNode.addEventListener('click', this.handleResultClick)
                                }

                                handleDocumentClick = event => {
                                    if (event.target === this.inputNode || this.rootNode.contains(event.target)) {
                                        return
                                    }
                                    this.hideResults()
                                }

                                handleKeyup = event => {
                                    const {
                                        key
                                    } = event

                                    switch (key) {
                                        case 'ArrowUp':
                                        case 'ArrowDown':
                                        case 'Escape':
                                        case 'Enter':
                                            event.preventDefault()
                                            return
                                        default:
                                            this.updateResults()
                                    }

                                    if (this.hasInlineAutocomplete) {
                                        switch (key) {
                                            case 'Backspace':
                                                return
                                            default:
                                                this.autocompleteItem()
                                        }
                                    }
                                }

                                handleKeydown = event => {
                                    const {
                                        key
                                    } = event
                                    let activeIndex = this.activeIndex

                                    if (key === 'Escape') {
                                        this.hideResults()
                                        this.inputNode.value = ''
                                        return
                                    }

                                    if (this.resultsCount < 1) {
                                        if (this.hasInlineAutocomplete && (key === 'ArrowDown' || key === 'ArrowUp')) {
                                            this.updateResults()
                                        } else {
                                            return
                                        }
                                    }

                                    const prevActive = this.getItemAt(activeIndex)
                                    let activeItem

                                    switch (key) {
                                        case 'ArrowUp':
                                            if (activeIndex <= 0) {
                                                activeIndex = this.resultsCount - 1
                                            } else {
                                                activeIndex -= 1
                                            }
                                            break
                                        case 'ArrowDown':
                                            if (activeIndex === -1 || activeIndex >= this.resultsCount - 1) {
                                                activeIndex = 0
                                            } else {
                                                activeIndex += 1
                                            }
                                            break
                                        case 'Enter':
                                            activeItem = this.getItemAt(activeIndex)
                                            this.selectItem(activeItem)
                                            return
                                        case 'Tab':
                                            this.checkSelection()
                                            this.hideResults()
                                            return
                                        default:
                                            return
                                    }

                                    event.preventDefault()
                                    activeItem = this.getItemAt(activeIndex)
                                    this.activeIndex = activeIndex

                                    if (prevActive) {
                                        prevActive.classList.remove('selected')
                                        prevActive.setAttribute('aria-selected', 'false')
                                    }

                                    if (activeItem) {
                                        this.inputNode.setAttribute('aria-activedescendant', `autocomplete-result-${activeIndex}`)
                                        activeItem.classList.add('selected')
                                        activeItem.setAttribute('aria-selected', 'true')
                                        if (this.hasInlineAutocomplete) {
                                            this.inputNode.value = activeItem.innerText
                                        }
                                    } else {
                                        this.inputNode.setAttribute('aria-activedescendant', '')
                                    }
                                }

                                handleFocus = event => {
                                    this.updateResults()
                                }

                                handleResultClick = event => {
                                    if (event.target && event.target.nodeName === 'LI') {
                                        this.selectItem(event.target)
                                    }
                                }

                                getItemAt = index => {
                                    return this.resultsNode.querySelector(`#autocomplete-result-${index}`)
                                }

                                selectItem = node => {
                                    if (node) {
                                        this.inputNode.value = node.innerText
                                        this.hideResults()
                                    }
                                }

                                checkSelection = () => {
                                    if (this.activeIndex < 0) {
                                        return
                                    }
                                    const activeItem = this.getItemAt(this.activeIndex)
                                    this.selectItem(activeItem)
                                }

                                autocompleteItem = event => {
                                    const autocompletedItem = this.resultsNode.querySelector('.selected')
                                    const input = this.inputNode.value
                                    if (!autocompletedItem || !input) {
                                        return
                                    }

                                    const autocomplete = autocompletedItem.innerText
                                    if (input !== autocomplete) {
                                        this.inputNode.value = autocomplete
                                        this.inputNode.setSelectionRange(input.length, autocomplete.length)
                                    }
                                }

                                updateResults = () => {
                                    const input = this.inputNode.value
                                    const results = this.searchFn(input)

                                    this.hideResults()
                                    if (results.length === 0) {
                                        return
                                    }

                                    this.resultsNode.innerHTML = results.map((result, index) => {
                                        const isSelected = this.shouldAutoSelect && index === 0
                                        if (isSelected) {
                                            this.activeIndex = 0
                                        }
                                        return `
        <li
          id='autocomplete-result-${index}'
          class='autocomplete-result${isSelected ? ' selected' : ''}'
          role='option'
          ${isSelected ? "aria-selected='true'" : ''}
        >
          ${result}
        </li>
      `
                                    }).join('')

                                    this.resultsNode.classList.remove('hidden')
                                    this.rootNode.setAttribute('aria-expanded', true)
                                    this.resultsCount = results.length
                                    this.shown = true
                                    this.onShow()
                                }

                                hideResults = () => {
                                    this.shown = false
                                    this.activeIndex = -1
                                    this.resultsNode.innerHTML = ''
                                    this.resultsNode.classList.add('hidden')
                                    this.rootNode.setAttribute('aria-expanded', 'false')
                                    this.resultsCount = 0
                                    this.inputNode.setAttribute('aria-activedescendant', '')
                                    this.onHide()
                                }
                            }

                            const search = input => {
                                if (input.length < 1) {
                                    return []
                                }
                                return data.filter(item => item.toLowerCase().startsWith(input.toLowerCase()))
                            }

                            const autocomplete = new Autocomplete({
                                rootNode: document.querySelector('.autocomplete'),
                                inputNode: document.querySelector('.autocomplete-input'),
                                resultsNode: document.querySelector('.autocomplete-results'),
                                searchFn: search,
                                shouldAutoSelect: true
                            })

                            document.querySelector('form').addEventListener('submit', (event) => {
                                event.preventDefault()
                                const result = document.querySelector('.search-result')
                                const input = document.querySelector('.autocomplete-input')
                                    // result.innerHTML = 'Searched for: ' + input.value

                                $('#viz').empty();

                                console.log(URL)
                                URL = '/fair/' + input.value;
                                TOTAL = '/fair/total/' + input.value;
                                SIGNUPS = '/fair/sign/' + input.value;
                                ACTIVE = '/fair/active/' + input.value;

                                var settings = {
                                    "async": true,
                                    "crossDomain": true,
                                    "url": URL,
                                    "method": "GET"
                                }
                                $.ajax(settings).done(function(response) {
                                    var dataa = JSON.parse(response);
                                    console.log(URL)
                                    District(URL);


                                    var nodes = dataa.nodes;

                                    var links = dataa.links;
                                    var attributes = dataa.color;




                                    var viz = d3plus.viz()
                                        .container("#viz")
                                        .type("rings")
                                        .data(nodes)
                                        .id("name")
                                        .width(1100)
                                        .height(800)
                                        .size('size')
                                        .legend(false)
                                        .edges(links)
                                        .edges({
                                            "arrows": true
                                        })
                                        .focus(dataa.links[0].source)
                                        .font({
                                            "family": "Helvetica"
                                        })
                                        .tooltip(["names", "Practice_Count"])
                                        .tooltip({
                                            'size': false
                                        })
                                        .attrs(attributes)
                                        .color("hex")
                                        .mouse({
                                            "click": function(d, viz) {


                                                URL = '/fair/' + input.value + '/' + d.name;
                                                $('#next').empty();
                                                $('#btnExport').show();
                                                console.log(URL);
                                                createDynamic(URL)


                                                return true;
                                            }
                                        })
                                        //.focus({
                                        //"tooltip" : false
                                        //})
                                        .shape('circle')

                                    .format({
                                            "text": function(text, key) {
                                                return text.toUpperCase()
                                            }
                                        })
                                        .draw();





                                });

                            });

                            function total() {
                                $('#next').empty();
                                console.log(TOTAL);
                                cardscroll();
                                $('#btnExport').show();
                                createDynamic(TOTAL)
                                $('#totalparents').fontcolor("red");
                            }

                            function sign() {
                                $('#next').empty();
                                console.log(SIGNUPS);
                                cardscroll();
                                $('#btnExport').show();
                                createDynamic(SIGNUPS)
                            }

                            function active() {
                                $('#next').empty();
                                console.log(ACTIVE);
                                cardscroll();
                                $('#btnExport').show();
                                createDynamic(ACTIVE)
                            }

                            function createDynamic(url) {

                                var settings = {
                                    "async": true,
                                    "crossDomain": true,
                                    "url": url,
                                    "method": "GET"
                                }
                                $.ajax(settings).done(function(response) {
                                    var data1 = JSON.parse(response);

                                    $('#next').prepend('<table class="table table-striped custab table-fixed" id = "dataTable" ><thead ><tr><th>SCHOOL NAME</th><th>PARENTS NAME</th><th>PARENTS EMAIL</th><th>USER TYPE</th><th>STATE</th> <th>COUNTRY</th> <th>SIGN UP DATE</th> <th>LAST PLAYBACK DATE</th><th>PLAYBACK COUNT</th></tr ></thead ><tbody>');

                                    for (var i = 0; i < data1.data.length; i++) {


                                        var datain = data1.data[i];
                                        var resultDiv = createDynamicDiv(datain);

                                        $("#dataTable").append(resultDiv);




                                    }
                                    //$('#dataTable1').append('</tbody></table>');
                                    $('#dataTable').append('</tbody></table>');
                                    dataTab();



                                    $('#next1').prepend('<table class="table table-striped custab table-fixed" id = "dataTable1" style="display:none" ><thead ><tr><th>SCHOOL NAME</th><th>PARENTS NAME</th><th>PARENTS EMAIL</th><th>USER TYPE</th><th>STATE</th> <th>COUNTRY</th> <th>SIGN UP DATE</th> <th>LAST PLAYBACK DATE</th><th>PLAYBACK COUNT</th></tr ></thead ><tbody>');
                                    for (var i = 0; i < data1.data.length; i++) {


                                        var datain = data1.data[i];

                                        var resultDiv = createDynamicDiv(datain);
                                        $("#dataTable1").append(resultDiv);

                                    }
                                    $('#dataTable1').append('</tbody></table>');
                                })
                            }

                            function dataTab() {

                                $("#dataTable").DataTable({
                                    "pageLength": 50
                                });

                            }

                            function createDynamicDiv(userList) {
                                var dynamicDiv = '';
                                console.log(userList)





                                dynamicDiv += '<tr >' +
                                    '<td>' + userList[0] + '</td>' +
                                    '<td>' + userList[1] + '</td>' +
                                    '<td><a href="Family_Jounrey_card.html?' + userList[2] + '">' + userList[2] + '</td></a>' +
                                    '<td>' + userList[3] + '</td>' +
                                    '<td>' + userList[4] + '</td>' +
                                    '<td>' + userList[5] + '</td>' +
                                    '<td>' + userList[6] + '</td>' +
                                    '<td>' + userList[7] + '</td>' +
                                    '<td>' + userList[8] + '</td>' +
                                    '<td>' + userList[9] + '</td>' +
                                    '</tr>'


                                return dynamicDiv;

                            }

                            function District(URL) {
                                console.log(URL)
                                    // $("#container").highcharts(
                                var settings = {
                                    "async": true,
                                    "crossDomain": true,
                                    "url": URL,
                                    "method": "GET"
                                }
                                $.ajax(settings).done(function(response) {
                                    var dataa = JSON.parse(response);

                                    console.log("hello22888")
                                    console.log(dataa.totparents[0])
                                    $('#totalparents').text(dataa.totparents[0]);
                                    $('#signup').text(dataa.appsignup[0] + ' (' + dataa.appsignupper[0] + '%)');
                                    $('#activeparents').text(dataa.actparents[0] + ' (' + dataa.actparentsper[0] + '%)');
                                    $('#minute').text(dataa.mindfulnessmin[0]);
                                    $('#playback').text(dataa.playback[0]);


                                });
                            };
                        </script>


                        <script src="{{ url_for('static',filename='js/Clickscript.js') }}"></script>
                        <script src="{{ url_for('static',filename='js/script.js') }}"></script>

                        <script src='https://cdnjs.cloudflare.com/ajax/libs/d3plus/1.9.8/d3plus.min.js'></script>
                        <script src='https://cdnjs.cloudflare.com/ajax/libs/d3/5.14.2/d3.min.js'></script>
                        <script src='https://cdnjs.cloudflare.com/ajax/libs/d3-force/1.1.0/d3-force.min.js'></script>
                        <script src='https://cdnjs.cloudflare.com/ajax/libs/d3plus/1.9.8/d3plus.full.js'></script>
                        <script src="{{ url_for('static',filename='js/district_parent.js') }}"></script>
                        <script src="{{ url_for('static',filename='js/buttonscript.js') }}"></script>
                        <script src="{{ url_for('static',filename='js/excellentexport.js') }}"></script>





</body>

</html>