<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">


<html lang="en" data-textdirection="ltr" class="loading">

<head>
    <link rel="icon" href="{{ url_for('static',filename='images/favicon.ico') }}" type="image/gif" sizes="16x16">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

    <title>School Journey Score - Inner Explorer</title>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/search2.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/modal-style.css') }}">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/journeystyle.css') }}">

    <style>
        .banner-img {
            height: 180px !important;
        }
    </style>
    <!-- END Custom CSS-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-73908394-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-73908394-1');
    </script>
    <!--<script type="text/javascript" src="//script.crazyegg.com/pages/scripts/0059/6602.js" async="async"></script>
-->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EWVQZSV89G"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'G-EWVQZSV89G');
    </script>
</head>

<body data-open="click" class="vertical-layout vertical-menu 2-columns  fixed-navbar" style="background-color: #fff !important;">
    <aside class="side-nav" id="show-side-navigation1">
        <!-- <i class="fa fa-bars close-aside hidden-sm hidden-md hidden-lg" data-close="show-side-navigation1"></i> -->
        <ul class="categories" style="margin-top:15px;">
            <li>
                <i class="fa fa-home" aria-hidden="true"></i>
                <a href="#">EXECUTIVE SUMMARY</a>
                <ul class="side-nav-dropdown">
                    <li>
                        <a href="Executive_Dashboard">CAP SUMMARY</a>
                    </li>
                    <li><a href="Day_In_Life">DAY IN LIFE OF...</a></li>
                    <li><a href="Daily_Analytics">DAILY ANALYTICS</a></li>
                    <li><a href="Weekly_Analytics">WEEKLY ANALYTICS</a></li>
                    <li><a href="aws_releases">COMPASS RELEASES</a></li>
                    <li><a href="schoolsummary">SCHOOL SUMMARY</a></li>
                    <li><a href="aws">AWS ANALYTICS</a></li>
                    <!-- <li><a href="aws">DATABASE PERFROMANCE ANALYTICS</a></li> -->

                </ul>
            </li>
            <li><i class="fa fa-book "></i><a href="#">ENGAGEMENT DASHBOARDS</a>
                <ul class="side-nav-dropdown">
                    <li><a href="NameEScore">DISTRICT ENGAGEMENT</a></li>
                    <li><a href="Disctrictfilter">DP-360</a></li>
                     <li><a href="Local_Disctrictfilter">MINI D-360</a></li>
                    <!-- <li><a href="partner">PARTNER PORTAL</a></li> -->
                    <li><a href="Login_analytics">LOGIN ANALYTICS</a></li>
                    <!-- <li><a href="schoolengagement">SCHOOL ENGAGEMENT</a></li> -->
                    <!-- <li><a href="School_Analytics">SCHOOL ANALYTICS</a></li> -->
                    <li><a href="School_Search">SCHOOL SEARCH</a></li>
                    <li><a href="School_Search_comparison">SCHOOL COMPARISON</a></li>
                    <li><a href="leadGeneration">LEAD GENERATION</a></li>
                     <li><a href="21daystreak">21 Day Streak</a></li>
                </ul>
            </li>
            <li><i class="fa fa-history"></i><a href="#">PLAYBACK ANALYTICS</a>
                <ul class="side-nav-dropdown">
                    <li><a href="Practice_Analytics">SCHOOL PLAYBACK ANALYTICS</a></li>
                    <li><a href="Scoology">SCHOOLOGY</a></li>
                    <li><a href="Family_practice_analytics">APP PLAYBACK ANALYTICS</a></li>
                    <li><a href="Progarm_wise_Analytics">PROGRAM WISE ANALYTICS</a></li>
                    <!-- <li><a href="audio_analytics">AUDIO ANALYTICS</a></li> -->
                    <li><a href="tunein">TUNE_IN DASHBOARD</a></li>
                    <li><a href="Practice_streak">PLAYBACK STREAK</a></li>
                    <!-- <li><a href="pracbifurcation">PLAYBACK BIFURCATION</a></li> -->
                </ul>
            </li>
            <li>
                <i class="fa fa-dollar"></i><a href="#">REVENUE DASHBOARDS</a>
                <ul class="side-nav-dropdown">
                    <li><a href="Transaction_Reporting">REVENUE OVERVIEW</a></li>
                    <li><a href="Donation">DONATION DASHBOARD</a></li>
                    <li><a href="School_Revenue">SCHOOL REVENUE</a></li>
                    <li><a href="Bill_later">BILL ME LATER</a></li>
                    <!-- <li><a href="oms_dashboard">OMS DASHBAORD</a></li> -->
                </ul>
            </li>
            <li><i class="fa fa-bolt"></i><a href="#">FEEDBACK AND SURVEY</a>
                <ul class="side-nav-dropdown">
                    <li><a href="feedback_Analyitcs">FEEDBACK ANAYLTICS</a></li>
                    <li><a href="sentiment">SENTIMENT ANAYLTICS</a></li>
                    <li><a href="feedback_Trends">FEEDBACK TRENDS</a></li>
                    <li><a href="Family_SURVEY">HOME SURVEY ANALYTICS</a></li>
                    <li><a href="feedback_Analyitcs_family">HOME FEEDBACK ANALYTICS</a></li>
                </ul>
            </li>
            <li>
                <i class="fa fa-users "></i><a href="#">SUBSCRIPTION DASHBOARDS</a>
                <ul class="side-nav-dropdown">
                    <li><a href="Upcoming_Renewals">UPCOMING RENEWAL</a></li>
                    <li><a href="d1districts">D1 DISTRICTS</a></li>
                    <li><a href="mobile_sub">MOBILE SUBSCRIPTION</a></li>
                    <li><a href="Sms_analytics">SMS ANALYTICS</a></li>

                </ul>
            </li>
            <li><i class="fa fa-star"></i><a href="#">APP ANALYTICS</a>
                <ul class="side-nav-dropdown">
                    <li><a href="Parents_Analytics">HOME APP OVERVIEW</a></li>
                    <li><a href="Familyapp_school">HOME APP SCHOOL</a></li>
                    <!-- <li><a href="Family_School_Search"> HOME APP SCHOOL SEARCH</a></li>-->
                    <!--<li><a href="Parents_map_view">HOME APP GEO</a></li>-->
                    <!--<li><a href="Android_analytics">ANDROID ANALYTICS</a></li>-->
                    <li><a href="IOS_Analytics">IOS ANALYTICS</a></li>
                </ul>
            </li>
            <li style="margin-top:125px"><i class="fa fa-code-fork"></i><a href="#">CAP VERSION<span style="margin: 0 5px 0 5px !important; cursor: default !important;" id="version">6.0</span></a>
            </li>
            <!-- <li id="myBtn2"><i class="fa fa-envelope-open-o fa-fw"></i>Contact Us</li> -->
    </aside>
    <section id="contents">
        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <button onclick="cose()">Close X</button>
                <section class="mtsection">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header no-border">
                                        <h4 class="card-title">Information<a href="#popup1"><i class="fa fa-pencil" aria-hidden="true" style="float: right;cursor: pointer;" ></i></a></h4>


                                    </div>
                                    <div class="card-body card-contentt">
                                        <div class="card-block">
                                            <p id="schoolname"></p>
                                            <p id="admin"></p>
                                            <p id="email"></p>
                                            <p id="adress"></p>
                                            <p id="city"></p>
                                            <p id="state"></p>
                                            <p id="country"></p>
                                            <p style="float: left;margin-right: 9px;"><b>Renewal Date:</b>
                                                <p id="renewal"></p>
                                            </p>
                                            </a>
                                            </p>




                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6">



                                <section class="mtsection">
                                    <div class="">
                                        <div class="pcard">
                                            <div class="col-md-6 col-sm-6">
                                                <div class="card card-stats">
                                                    <div class="card-header" data-background-color="rose1">
                                                        <img src="{{ url_for('static',filename='images/capuser.png') }}" style="width: 54px;" class="img-responsive">
                                                    </div>
                                                    <div class="card-content">
                                                        <p class="category">Total Users</p>
                                                        <h3 class="card-title" id="ucount"></h3>


                                                    </div>

                                                </div>
                                            </div>

                                            <div class="col-md-6 col-sm-6">
                                                <div class="card card-stats">
                                                    <div class="card-header" data-background-color="rose">
                                                        <img src="{{ url_for('static',filename='images/capminute.png') }}" style="width: 54px;" class="img-responsive">
                                                    </div>
                                                    <div class="card-content">
                                                        <p class="category">Playback Count</p>
                                                        <h3 class="card-title" id="pcount"></h3>
                                                    </div>

                                                </div>
                                            </div>

                                            <div class="col-md-6 col-sm-6">
                                                <div class="card card-stats">
                                                    <div class="card-header" data-background-color="green">
                                                        <img src="{{ url_for('static',filename='images/capstudy.png') }}" style="width: 54px;" class="img-responsive">
                                                    </div>
                                                    <div class="card-content">
                                                        <p class="category"> Mindful Minutes</p>
                                                        <h3 class="card-title" id="mindfulness_minutes"></h3>
                                                    </div>
                                                    <!-- <div class="card-footer">
                <div class="stats">
                  <i class="material-icons text-danger">warning</i> <a href="#pablo">Get More Space...</a>
                </div>
              </div> -->
                                                </div>
                                            </div>

                                            <div class="col-md-6 col-sm-6">
                                                <div class="card card-stats">
                                                    <div class="card-header" data-background-color="blue">
                                                        <img src="{{ url_for('static',filename='images/cappractice.png') }}" style="width: 54px;" class="img-responsive">
                                                    </div>
                                                    <div class="card-content">
                                                        <p class="category">5 Star Ratings</p>
                                                        <h3 class="card-title" id="ratings"></h3>
                                                    </div>
                                                    <!-- 	<div class="card-footer">
                <div class="stats">
                  <i class="material-icons text-danger">warning</i> <a href="#pablo">Get More Space...</a>
                </div>
              </div> -->
                                                </div>
                                            </div>

                                            <button class="ex_Button" onclick="explore()">Explore School</button>

                                        </div>

                                    </div>

                                </section>



                            </div>
                        </div>
                    </div>
                </section>
            </div>

        </div>














        <section class="mtsection" style="margin-top: -50px; ">
            <div class="col-md-12 p0">
                <div class="banner-img"></div>
                <h3 style="margin-top: -30px; margin-left: 20px; color: #fff; ">Family Journey Log</h3>
            </div>
            <h6 id="Cap4gSnapshot" class="snapshot"></h6>
            </div>
        </section>


        <section class="mtsection">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-header no-border">
                                <h4 class="card-title">Information</h4>
                            </div>
                            <div class="card-body card-contentt">
                                <div class="card-block">

                                    <p style="float: left;margin-right: 9px;"><b>Name:</b> </p>
                                    <p id="name"></p>
                                    <p style="float: left;margin-right: 9px;"><b>City:</b>
                                        <p id="city"></p>
                                    </p>
                                    <p style="float: left;margin-right: 9px;"><b>State:</b>
                                        <p id="state"></p>
                                    </p>
                                    <p style="float: left;margin-right: 9px;"><b>Country:</b>
                                        <p id="country"></p>
                                    </p> <br>

                                    <p style="float: left;margin-right: 9px;"><b>School Name:</b> </p>
                                    <p id="school"></p>
                                    <p style="float: left;margin-right: 9px;"><b>Email</b>
                                        <p id="signup"></p>
                                    </p>
                                    <p style="float: left;margin-right: 9px;"><b>Mobile Number</b>
                                        <p id="renewal"></p>
                                    </p>





                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">



                        <section class="mtsection">
                            <div class="">
                                <div class="pcard">
                                    <div class="col-md-6 col-sm-6">
                                        <div class="card card-stats">
                                            <div class="card-header" data-background-color="rose1">
                                                <img src="{{ url_for('static',filename='images/capuser.png') }}" style="width: 54px;" class="img-responsive">
                                            </div>
                                            <div class="card-content">
                                                <p class="category">Total Sessions</p>
                                                <h3 class="card-title" id="ucount"></h3>


                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="card card-stats">
                                            <div class="card-header" data-background-color="rose">
                                                <img src="{{ url_for('static',filename='images/capminute.png') }}" style="width: 54px;" class="img-responsive">
                                            </div>
                                            <div class="card-content">
                                                <p class="category" style="font-size: 12px;">Session Completed</p>
                                                <h3 class="card-title" id="pcount"></h3>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <div class="card card-stats">
                                            <div class="card-header" data-background-color="green">
                                                <img src="{{ url_for('static',filename='images/capstudy.png') }}" style="width: 54px;" class="img-responsive">
                                            </div>
                                            <div class="card-content">
                                                <p class="category"> Mindful Minutes</p>
                                                <h3 class="card-title" id="mindfulness_minutes"></h3>
                                            </div>
                                            <!-- <div class="card-footer">
				<div class="stats">
					<i class="material-icons text-danger">warning</i> <a href="#pablo">Get More Space...</a>
				</div>
			</div> -->
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-sm-6">
                                        <div class="card card-stats">
                                            <div class="card-header" data-background-color="blue">
                                                <img src="{{ url_for('static',filename='images/cappractice.png') }}" style="width: 54px;" class="img-responsive">
                                            </div>
                                            <div class="card-content">
                                                <p class="category" style="font-size: 13px;">Avg. Star Rating</p>
                                                <h3 class="card-title" id="ratings"></h3>
                                            </div>
                                            <!-- 	<div class="card-footer">
				<div class="stats">
					<i class="material-icons text-danger">warning</i> <a href="#pablo">Get More Space...</a>
				</div>
			</div> -->
                                        </div>
                                    </div>

                                </div>

                            </div>

                        </section>



                    </div>
                </div>
            </div>
        </section>


        <section class="charts">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div id="container" style=" border-radius: 20px;   box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);"></div>
                    </div>
                    <div class="col-md-6">
                        <div id="container3" style=" border-radius: 20px;   box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);"></div>
                    </div>
                </div>
            </div>
        </section>






        <!-- ////////////////////////////////////////////////////////////////////////////-->

        <script src="https://code.highcharts.com/stock/highstock.js"></script>
        <script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
        <!-- BEGIN VENDOR JS-->
        <script>
            $(document).ready(function() {

                var url = window.location.href;
                console.log(url);
                var params = url.split('?')[1];
                console.log(params);
                var url1 = "/familyjourney/" + params;
                console.log(url1);
                var settings = {
                    "async": true,
                    "crossDomain": true,
                    "url": url1,
                    "method": "GET"
                }
                $.ajax(settings).done(function(response) {
                    var dataa = JSON.parse(response);



                    $(function() {

                        // Create the chart
                        Highcharts.chart('container', {
                            chart: {
                                type: 'column',
                                events: {
                                    drilldown: function(e) {

                                        URL = 'https://schooldashb.herokuapp.com/schoolsearch/' + e.point.name;
                                        console.log(URL);

                                    }
                                }
                            },
                            title: {
                                text: 'PROGRAM WISE PLAYBACK TREND'
                            },
                            xAxis: {
                                type: 'category',

                                labels: {

                                }
                            },
                            yAxis: [{ //Primary yAxis
                                lineWidth: 1,
                                labels: {
                                    format: '{value}',
                                    style: {
                                        color: '#000'
                                    }
                                },
                                title: {
                                    text: 'PLAYBACK COUNT',
                                    style: {
                                        color: '#000'
                                    }
                                }
                            }],
                            plotOptions: {
                                series: {
                                    pointWidth: 90
                                }
                            },
                            series: [{
                                name: "PROGRAM",
                                color: '#01a451',
                                tooltip: {
                                    headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                                    pointFormat: '<span style="color:{point.color}">{point.name}</span>:<b>{point.y}<br>'
                                },
                                data: [{
                                    name: "DAILY PLAYBACK",
                                    y: dataa.program.dtotal,
                                    drilldown: "DAILY PLAYBACK"


                                }, {
                                    name: "TRANSITION",
                                    y: dataa.program.trant,
                                    drilldown: "TRANSITION"
                                }, {
                                    name: "SOUND",
                                    y: dataa.program.soundt,
                                    drilldown: "SOUND"
                                }]
                            }],
                            drilldown: {
                                activeAxisLabelStyle: {
                                    textDecoration: 'none',
                                    color: '#00000',
                                    fontSize: '11px'
                                },
                                series: [

                                    {
                                        name: "DAILY PLAYBACK",
                                        id: "DAILY PLAYBACK",
                                        tooltip: {
                                            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                                            pointFormat: '<span style="color:{point.color}">{point.name}</span>:<b>{point.y}<br>'
                                        },
                                        data: [
                                            [
                                                dataa.program.prog[0],
                                                dataa.program.daily[0]
                                            ],
                                            [
                                                dataa.program.prog[1],
                                                dataa.program.daily[1]
                                            ],
                                            [
                                                dataa.program.prog[2],
                                                dataa.program.daily[2]
                                            ],
                                            [
                                                dataa.program.prog[3],
                                                dataa.program.daily[3]
                                            ],
                                            [
                                                dataa.program.prog[4],
                                                dataa.program.daily[4]
                                            ]
                                        ]
                                    }, {
                                        name: "TRANSITION",
                                        id: "TRANSITION",
                                        tooltip: {
                                            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                                            pointFormat: '<span style="color:{point.color}">{point.name}</span>:<b>{point.y}<br>'
                                        },
                                        data: [
                                            [
                                                dataa.program.prog[0],
                                                dataa.program.transition[0]
                                            ],
                                            [
                                                dataa.program.prog[1],
                                                dataa.program.transition[1]
                                            ],
                                            [
                                                dataa.program.prog[2],
                                                dataa.program.transition[2]
                                            ],
                                            [
                                                dataa.program.prog[3],
                                                dataa.program.transition[3]
                                            ],
                                            [
                                                dataa.program.prog[4],
                                                dataa.program.transition[4]
                                            ]
                                        ]
                                    }, {
                                        name: "SOUND",
                                        id: "SOUND",
                                        tooltip: {
                                            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
                                            pointFormat: '<span style="color:{point.color}">{point.name}</span>:<b>{point.y}<br>'
                                        },
                                        data: [
                                            [
                                                dataa.program.prog[0],
                                                dataa.program.sound[0]
                                            ],
                                            [
                                                dataa.program.prog[1],
                                                dataa.program.sound[1]
                                            ],
                                            [
                                                dataa.program.prog[2],
                                                dataa.program.sound[2]
                                            ],
                                            [
                                                dataa.program.prog[3],
                                                dataa.program.sound[3]
                                            ],
                                            [
                                                dataa.program.prog[4],
                                                dataa.program.sound[4]
                                            ]
                                        ]
                                    },
                                ]
                            }
                        });
                    });
                });

                var settings = {
                    "async": true,
                    "crossDomain": true,
                    "url": url1,
                    "method": "GET"
                }
                $.ajax(settings).done(function(response) {
                    var dataa = JSON.parse(response);
                    console.log(dataa, "hello frnd");




                    var chart = Highcharts.stockChart('container3', {
                        chart: {
                            type: 'column'
                        },

                        title: {
                            text: 'APP PLAYBACK'
                        },
                        xAxis: {
                            minRange: 1
                        },
                        plotOptions: {
                            series: {
                                point: {

                                }
                            }
                        },

                        navigator: {
                            series: {
                                color: '#00FF00',
                                animation: {
                                    duration: 0,
                                }
                            },
                            xAxis: {
                                minRange: 1
                            },


                        },
                        yAxis: [{
                            lineWidth: 1,
                            opposite: false,
                            title: {
                                text: 'PLAYBACK COUNT'
                            }
                        }, {
                            lineWidth: 1,
                            opposite: true,
                            title: {
                                text: ' TOTAL COUNT'
                            }
                        }],

                        series: [{
                            type: 'column',
                            color: '#01a451',
                            name: 'Playback Count',
                            data: dataa.pbar, //Fri, 14 Jul 2017 00:00:00 GMT
                            dataGrouping: {
                                enabled: false,
                            },

                        }, {
                            type: 'line',
                            color: '#FF9933',
                            name: 'Total Playback Count',
                            data: dataa.pline,
                            yAxis: 1, //Fri, 14 Jul 2017 00:00:00 GMT
                            dataGrouping: {
                                enabled: false,
                            },

                        }]

                    });

                });
                var settings = {
                    "async": true,
                    "crossDomain": true,
                    "url": url1,
                    "method": "GET"
                }
                $.ajax(settings).done(function(response) {
                    var datain = JSON.parse(response);
                    console.log(datain.count);

                    $('#ucount').text(datain.count.totalsession[0]);
                    $('#pcount').text(datain.count.sessioncompleted[0]);
                    $('#mindfulness_minutes').text(datain.count.mindful[0]);
                    $('#ratings').text(datain.count.familyrating[0]);

                    $('#name').text(datain.count.name[0]);
                    $('#school').text(datain.count.school[0]);
                    $('#city').text(datain.count.city[0]);
                    $('#state').text(datain.count.state[0]);
                    $('#country').text(datain.count.country[0]);
                    $('#signup').text(datain.count.email[0]);
                    $('#renewal').text(datain.count.contact[0]);





                    Highcharts.chart('graph1', {
                        chart: {
                            type: 'line'
                        },

                        xAxis: {
                            categories:
                                (function() {
                                    // generate an array of random data
                                    var data = [];


                                    for (i = 0; i <= datain[0].month.length; i++) {
                                        data.push([
                                            datain[0].month[i]
                                        ]);
                                    }
                                    return data;
                                }()),
                        },
                        title: {
                            text: ''
                        },


                        exporting: {
                            enabled: false
                        },
                        credits: {
                            enabled: false
                        },
                        plotOptions: {
                            line: {
                                dataLabels: {
                                    enabled: true
                                },
                                enableMouseTracking: true
                            }
                        },
                        series: [{
                            name: "PLAYBACK TREND",
                            data: (function() {
                                // generate an array of random data
                                var data = [];


                                for (i = 0; i <= datain[0].practice_count.length; i++) {
                                    data.push([
                                        datain[0].practice_count[i]
                                    ]);
                                }
                                return data;
                            }()),
                            color: '#01a451',
                        }]
                    });

                    Highcharts.chart('graph2', {
                        chart: {
                            type: 'column'
                        },
                        title: {
                            text: ''
                        },

                        xAxis: {
                            categories:
                                (function() {
                                    // generate an array of random data
                                    var data1 = [];


                                    for (i = 0; i <= datain[0].month.length; i++) {
                                        data1.push([
                                            datain[0].month[i]
                                        ]);
                                    }
                                    return data1;
                                }()),
                        },

                        exporting: {
                            enabled: false
                        },

                        credits: {
                            enabled: false
                        },
                        legend: {
                            reversed: true
                        },
                        plotOptions: {
                            series: {
                                stacking: 'normal'
                            }
                        },
                        series: [{
                            name: 'Unique User',

                            data: (function() {
                                // generate an array of random data
                                var data = [];

                                for (i = 0; i <= datain[0].month.length; i++) {
                                    a = 20;

                                    data.push([
                                        datain[0].unique_user[i]
                                    ]);
                                }
                                return data;
                            }()),
                            color: '#01a451',
                        }]
                    });
                });
            });




            // create the chart
        </script>


</body>

</html>