<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" href="{{ url_for('static',filename='images/favicon.ico') }}" type="image/gif" sizes="16x16">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CAPXP SCHOOL SUMMARY</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/search2.css') }}">

  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/map-table.css') }}">


  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/bootstrap.min.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/journeystyle.css') }}">

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css'>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css">
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>

  <script src="https://code.highcharts.com/stock/highstock.js"></script>
  <script src="https://code.highcharts.com/maps/modules/map.js"></script>
  <script src="https://code.highcharts.com/maps/modules/data.js"></script>
  <script src="https://code.highcharts.com/mapdata/countries/us/us-all.js"></script>
  <script src="https://code.highcharts.com/mapdata/countries/us/custom/us-all-territories.js"></script>


  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-EWVQZSV89G"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }
    gtag('js', new Date());
    gtag('config', 'G-EWVQZSV89G');
  </script>
</head>
<script>

</script>
<style>
  .modal2 {
    background: #FFF;
    width: 400px;
    height: 400px;
    text-align: center;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    position: fixed;

    left: 40%;

    line-height: 25px;
    z-index: 99;
    border-radius: 20px;
    padding: 45px;
    text-align: left;
  }

  .modal2-bg {
    background: rgb(54, 54, 54);
    zoom: 1;
    opacity: 0.8;
    filter: alpha(opacity=80);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9;
  }

  .image {
    float: right;
    width: 107px;
    height: 38px;
    opacity: 100%;
    margin-top: 15px;
  }

  .image2 {
    float: left;
    width: 1%;
    opacity: 100%;
    margin-top: 4px;
    margin-right: 10px;

  }
</style>



<body class="body">
  <nav class="navbar navbar-default">
    <div class="">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="page_Heading" href="#">SCHOOL SUMMARY</a>
          <a href="homepage">
            <img src="{{ url_for('static',filename='images/capwhite.png') }}" alt="" class="logo">
          </a>
        </div>
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li style="left: 2px;
            top: 34px;color: #fff;" title="Page Views" id="myBtn2"><i class="fa fa-eye" aria-hidden="true"
                style="margin-left: 22px;/*! margin-top: 12px; */margin-right: 5px;"></i>
              <p style="float: right;">Views</p>
              <p id="count" style="float: right;margin-right: 3px;"></p>
            </li>
            <!--<li style="left: 10px;
            top: 34px;
            color: #fff;
            cursor: pointer;" id="myBtn"><i class="fa fa-lightbulb-o" style="margin-top:2px;"></i><p style="float: right;">Insights</p><p style="float: right;margin-right: 3px; margin-left: 5px;">3</p></li>-->
            <li style="left:10px;top:18px;"><a id="share" href="#"><i class="fa fa-share" aria-hidden="true"
                  style="margin-top:2px;margin-right: 3px;"></i></a></li>
            <li style="top:18px;"><a href="#"><i data-show="show-side-navigation1"
                  class="fa fa-bars show-side-btn"></i></a></li>
            <li style="margin-top: 27px;">
              <div class="dropdown">
                <button class="btn btn-primary " id="menu1" type="button" data-toggle="dropdown"
                  style="border: 0;font-size: 16px; border-radius: 50%;">{{g.user.nameinitial}}<span id="logid"
                    style="display: none;">{{g.user.id}}</span></button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="login">{{g.user.name}}</a></li>
                  <hr />
                  <li role="presentation"><a role="menuitem" tabindex="-1" href="login">LOGOUT</a></li>
                </ul>
              </div>
          </ul>
        </div>
        <div class="input-Container ui-widget">
          <i class="fa fa-search Icon"></i>
          <div id="iid" class="input-Field">
          </div>
          <button class="search_Bt" style="padding-right: 4px !important;" onclick="search()" id="hel"><i
              class="fa fa-search Search_icon"></i></button>
          <p style="display: none;" id="tagdescription"></p>
          <p style="display: none;" id="tagdescription"></p>
          <!--<div class="select_Bt">
        <select id="myselect" style="margin-top: 7px;">
          <option value="1">DASHBAORD</option>
          <option value="2">SCHOOL</option>
        </div>
      </select>-->
        </div>
      </div>
    </div>
  </nav>
  <aside class="side-nav" id="show-side-navigation1">
    <i class="fa fa-bars close-aside hidden-sm hidden-md hidden-lg" data-close="show-side-navigation1"></i>
    <ul class="categories" style="margin-top:35px;">
      <li class="active">
        <i class="fa fa-home" aria-hidden="true"></i>
        <a href="#">EXECUTIVE SUMMARY</a>
        <ul class="side-nav-dropdown">
          <li class="active2">
            <a href="Executive_Dashboard">CAP SUMMARY</a>
          </li>
          <li class="active2"><a href="Daily_Analytics">DAILY ANALYTICS</a></li>
          <li class="active2"><a href="Weekly_Analytics">WEEKLY ANALYTICS</a></li>
          <li class="active2"><a href="aws_releases">COMPASS RELEASES</a></li>
          <li class="active2"><a href="schoolsummary">SCHOOL SUMMARY</a></li>
          <li class="active2"><a href="awsmain">AWS ANALYTICS</a></li>
          <li class="active2"><a href="aws">DATABASE PERFROMANCE ANALYTICS</a></li>
          
        </ul>
      </li>
      <li><i class="fa fa-book "></i><a href="#">ENGAGEMENT DASHBOARDS</a>
        <ul class="side-nav-dropdown">
          <li><a href="NameEScore">DISTRICT ENGAGEMENT</a></li>
          <li><a href="Disctrictfilter">DISTRICT 360</a></li>
          <li><a href="partner">PARTNER PORTAL</a></li>
          <!-- <li><a href="schoolengagement">SCHOOL ENGAGEMENT</a></li> -->
          <!-- <li><a href="School_Analytics">SCHOOL ANALYTICS</a></li> -->
          <li><a href="School_Search">SCHOOL SEARCH</a></li>
          <li><a href="School_Search_comparison">SCHOOL COMPARISON</a></li>
<li><a href="21daystreak">21 Day Streak</a></li>
        </ul>
      </li>
      <li><i class="fa fa-history"></i><a href="#">PLAYBACK ANALYTICS</a>
        <ul class="side-nav-dropdown">
          <li><a href="Practice_Analytics">SCHOOL PLAYBACK ANALYTICS</a></li>
          <li><a href="Scoology">SCHOOLOGY</a></li>
          <li><a href="Family_practice_analytics">APP PLAYBACK ANALYTICS</a></li>
          <li><a href="Progarm_wise_Analytics">PROGRAM WISE ANALYTICS</a></li>
          <!-- <li><a href="audio_analytics">AUDIO ANALYTICS</a></li> -->
          <li><a href="tunein">TUNE_IN DASHBOARD</a></li>
          <li><a href="Practice_streak">PLAYBACK STREAK</a></li>
          <!-- <li><a href="pracbifurcation">PLAYBACK BIFURCATION</a></li> -->
        </ul>
      </li>
      <li>
        <i class="fa fa-dollar"></i><a href="#">REVENUE DASHBOARDS</a>
        <ul class="side-nav-dropdown">
          <li><a href="Transaction_Reporting">REVENUE OVERVIEW</a></li>
          <li><a href="Donation">DONATION DASHBOARD</a></li>
          <li><a href="School_Revenue">SCHOOL REVENUE</a></li>
          <li><a href="Bill_later">BILL ME LATER</a></li>
        </ul>
      </li>
      <li><i class="fa fa-bolt"></i><a href="#">FEEDBACK AND SURVEY</a>
        <ul class="side-nav-dropdown">
          <li><a href="feedback_Analyitcs">FEEDBACK ANAYLTICS</a></li>
          <li><a href="sentiment">SENTIMENT ANAYLTICS</a></li>
          <li><a href="feedback_Trends">FEEDBACK TRENDS</a></li>
          <li><a href="Family_SURVEY">HOME SURVEY ANALYTICS</a></li>
          <li><a href="feedback_Analyitcs_family">HOME FEEDBACK ANALYTICS</a></li>
        </ul>
      </li>
      <li>
        <i class="fa fa-users "></i><a href="#">SUBSCRIPTION DASHBOARDS</a>
        <ul class="side-nav-dropdown">
          <li><a href="Upcoming_Renewals">UPCOMING RENEWAL</a></li>
          <li><a href="d1districts">D1 Districts</a></li>
          <li><a href="mobile_sub">MOBILE SUBSCRIPTION</a></li>
          <li><a href="Sms_analytics">SMS ANALYTICS</a></li>

        </ul>
      </li>

      <li><i class="fa fa-star"></i><a href="#">APP ANALYTICS</a>
        <ul class="side-nav-dropdown">
          <li><a href="Parents_Analytics">HOME APP OVERVIEW</a></li>
          <li><a href="Familyapp_school">HOME APP SCHOOL</a></li>
          <!-- <li><a href="Family_School_Search"> HOME APP SCHOOL SEARCH</a></li>-->
          <!--<li><a href="Parents_map_view">HOME APP GEO</a></li>-->
          <!--<li><a href="Android_analytics">ANDROID ANALYTICS</a></li>-->
          <li><a href="IOS_Analytics">IOS ANALYTICS</a></li>
        </ul>
      </li>
      <li style="margin-top: 150px;"><i class="fa fa-code-fork"></i><a href="#">CAP VERSION<span
            style="margin: 0 5px 0 5px !important;" id="version">6.0</span></a>
      </li>
      <!-- <li id="myBtn2"><i class="fa fa-envelope-open-o fa-fw"></i>Contact Us</li> -->
  </aside>
  <section id="contents">
    <p style="color:#f8f9fa ;">hsdbfiusbdfbsdvfbsvdf</p>
    <!-- The Modal -->
    <div id="myModal" class="modal">

      <!-- Modal content -->
      <div class="modal-content">
        <button onclick="cose()">Close X</button>
        <section class="mtsection">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="card">
                  <div class="card-header no-border">
                    <h4 class="card-title">Information<a href="#popup1"><i class="fa fa-pencil" aria-hidden="true"
                          style="float: right;cursor: pointer;"></i></a></h4>
                  </div>
                  <div class="card-body card-contentt">
                    <div class="card-block">
                      <p id="schoolname"></p>
                      <p id="admin"></p>
                      <p id="email"></p>
                      <p id="adress"></p>
                      <p id="city"></p>
                      <p id="state"></p>
                      <p id="country"></p>
                      <p style="float: left;margin-right: 9px;"><b>Renewal Date:</b>
                      <p id="renewal"></p>
                      </p>
                      </a>
                      </p>




                    </div>
                  </div>
                </div>
              </div>

              <div class="col-md-6">



                <section class="mtsection">
                  <div class="">
                    <div class="pcard">
                      <div class="col-md-6 col-sm-6">
                        <div class="card card-stats">
                          <div class="card-header" data-background-color="rose1">
                            <img src="{{ url_for('static',filename='images/capuser.png') }}" style="width: 54px;"
                              class="img-responsive">
                          </div>
                          <div class="card-content">
                            <p class="category">Total Users</p>
                            <h3 class="card-title" id="ucount"></h3>


                          </div>

                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6">
                        <div class="card card-stats">
                          <div class="card-header" data-background-color="rose">
                            <img src="{{ url_for('static',filename='images/capminute.png') }}" style="width: 54px;"
                              class="img-responsive">
                          </div>
                          <div class="card-content">
                            <p class="category">Playback Count</p>
                            <h3 class="card-title" id="pcount"></h3>
                          </div>

                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6">
                        <div class="card card-stats">
                          <div class="card-header" data-background-color="green">
                            <img src="{{ url_for('static',filename='images/capstudy.png') }}" style="width: 54px;"
                              class="img-responsive">
                          </div>
                          <div class="card-content">
                            <p class="category"> Mindful Minutes</p>
                            <h3 class="card-title" id="mindfulness_minutes"></h3>
                          </div>
                          <!-- <div class="card-footer">
                <div class="stats">
                  <i class="material-icons text-danger">warning</i> <a href="#pablo">Get More Space...</a>
                </div>
              </div> -->
                        </div>
                      </div>

                      <div class="col-md-6 col-sm-6">
                        <div class="card card-stats">
                          <div class="card-header" data-background-color="blue">
                            <img src="{{ url_for('static',filename='images/cappractice.png') }}" style="width: 54px;"
                              class="img-responsive">
                          </div>
                          <div class="card-content">
                            <p class="category">5 Star Ratings</p>
                            <h3 class="card-title" id="ratings"></h3>
                          </div>
                          <!-- 	<div class="card-footer">
                <div class="stats">
                  <i class="material-icons text-danger">warning</i> <a href="#pablo">Get More Space...</a>
                </div>
              </div> -->
                        </div>
                      </div>

                      <button class="ex_Button" onclick="explore()">Explore School</button>

                    </div>

                  </div>

                </section>



              </div>
            </div>
          </div>
        </section>
      </div>

    </div>

    <div class="modal2" style="display: none;">
      <a href="#" class="close" style="float: right;">x</a>
      <div id="mainco">

      </div>
    </div>

    <div class="modal2-bg" style="display: none;"></div>

    <div class="col-md-10" style="margin-bottom: 30px; margin-top: 20px;">
      <div class="select_Bt" style="width: 120%;">
        <SELECT id="exc">
          <OPTION VALUE="1">USA</OPTION>
          <OPTION VALUE="2">OVERALL</option>
        </SELECT>
      </div>
      <div id="container5"
        style="height: 400px; width: 120%; box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1); border-radius: 0 0 20px 6px;">
      </div>
    </div>
    
    <div class="col-md-10" style="margin-bottom: 30px;  border-radius: 20px;">
      <div id="containertotaluser"
        style="height: 400px; width: 120%; border-radius: 20px;   box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);"></div>
    </div>
    <!-- <div class="col-md-10" style="margin-bottom: 30px;  border-radius: 20px;">
  <div id="container" style="height: 400px; width: 120%; border-radius: 20px;   box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);"></div></div> -->

    
    <!-- <div class="col-md-10" style="margin-bottom: 30px;  border-radius: 20px;">
    <div id="container3" style="height: 400px; width: 120%; border-radius: 20px;   box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);"></div></div> -->

    <div class="col-md-10" style="margin-bottom: 30px;  border-radius: 20px;">
      <div id="container7"
        style="height: 400px; width: 120%; border-radius: 20px;   box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);"></div>
    </div>

    <div class="col-md-10" style="margin-bottom: 30px;  border-radius: 20px;">
      <div id="container8"
        style="height: 400px; width: 120%; border-radius: 20px;   box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);"></div>
    </div>

    <div class="col-md-12" style="margin-top: 20px;">
      <div class="col-md-8">
        <div id="containermap"
          style="height: 400px; width: 800px; background-color: #fff; padding-left:120 ; border-radius: 20px;float: left;   box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);">
        </div>
      </div>
      <section class="statistics" style="padding-top: 8px !important; ">
        <div class="container-fluid">
          <div class="col-md-3">
            <div class="boxExecutive">
              <div>
                <img src="{{ url_for('static',filename='images/green.png') }}" class="image2">
                <p class="boxHeading2">Total School</p>
                <p class="boxvalue" id="totalparents2"></p>
                <br />
                <hr />
                <img src="{{ url_for('static',filename='images/green.png') }}" class="image2">
                <p class="boxHeading2">USA</p>
                <p class="boxvalue" id="us"></p>
                <br />
                <hr />
                <img src="{{ url_for('static',filename='images/green.png') }}" class="image2">
                <p class="boxHeading2">CANADA<br /></p>
                <p class="boxvalue" id="uk" onclick="cards2('/canada')"></p>
                <br />
                <hr />
                <img src="{{ url_for('static',filename='images/green.png') }}" class="image2">
                <p class="boxHeading2">MEXICO<br /></p>
                <p class="boxvalue" id="mex" onclick="cards2('/mexico')"></p>
                <br />
                <hr />
                <img src="{{ url_for('static',filename='images/green.png') }}" class="image2">
                <p class="boxHeading2">INDIA<br /></p>
                <p class="boxvalue" id="russia" onclick="cards2('/india')"></p>
                <br />
                <hr />
                <img src="{{ url_for('static',filename='images/green.png') }}" class="image2">
                <p class="boxHeading2">OTHER<br /></p>
                <p class="boxvalue" id="othe" onclick="cards2('/other')"></p>
                <br />
                <br />
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
    
      <div class="col-md-10" style="margin-bottom: 30px;margin-top: 30px;">
        <div class="select_Bt" style="width: 120%;">
          <SELECT id="country">
            <OPTION VALUE='ALABAMA'>ALABAMA</OPTION>
            <OPTION VALUE='ALASKA'>ALASKA</OPTION>
            <OPTION VALUE='ARIZONA'>ARIZONA</OPTION>
            <OPTION VALUE='ARKANSAS'>ARKANSAS</OPTION>
            <OPTION VALUE='CALIFORNIA'>CALIFORNIA</OPTION>
            <OPTION VALUE='COLORADO'>COLORADO</OPTION>
            <OPTION VALUE='CONNECTICUT'>CONNECTICUT</OPTION>
            <OPTION VALUE='DELAWARE'>DELAWARE</OPTION>
            <OPTION VALUE='FLORIDA'>FLORIDA</OPTION>
            <OPTION VALUE='GEORGIA'>GEORGIA</OPTION>
            <OPTION VALUE='HAWAII'>HAWAII</OPTION>
            <OPTION VALUE='IDAHO'>IDAHO</OPTION>
            <OPTION VALUE='ILLINOIS'>ILLINOIS</OPTION>
            <OPTION VALUE='INDIANA'>INDIANA</OPTION>
            <OPTION VALUE='IOWA'>IOWA</OPTION>
            <OPTION VALUE='KANSAS'>KANSAS</OPTION>
            <OPTION VALUE='KENTUCKY'>KENTUCKY</OPTION>
            <OPTION VALUE='LOUISIANA'>LOUISIANA</OPTION>
            <OPTION VALUE='MAINE'>MAINE</OPTION>
            <OPTION VALUE='MARYLAND'>MARYLAND</OPTION>
            <OPTION VALUE='MASSACHUSETTS'>MASSACHUSETTS</OPTION>
            <OPTION VALUE='MICHIGAN'>MICHIGAN</OPTION>
            <OPTION VALUE='MINNESOTA'>MINNESOTA</OPTION>
            <OPTION VALUE='MISSISSIPPI'>MISSISSIPPI</OPTION>
            <OPTION VALUE='MISSOURI'>MISSOURI</OPTION>
            <OPTION VALUE='MONTANA'>MONTANA</OPTION>
            <OPTION VALUE='NEBRASKA'>NEBRASKA</OPTION>
            <OPTION VALUE='NEVADA'>NEVADA</OPTION>
            <OPTION VALUE='NEW HAMPSHIRE'>NEW HAMPSHIRE</OPTION>
            <OPTION VALUE='NEW JERSEY'>NEW JERSEY</OPTION>
            <OPTION VALUE='NEW MEXICO'>NEW MEXICO</OPTION>
            <OPTION VALUE='NEW YORK'>NEW YORK</OPTION>
            <OPTION VALUE='NORTH CAROLINA'>NORTH CAROLINA</OPTION>
            <OPTION VALUE='NORTH DAKOTA'>NORTH DAKOTA</OPTION>
            <OPTION VALUE='OHIO'>OHIO</OPTION>
            <OPTION VALUE='OKLAHOMA'>OKLAHOMA</OPTION>
            <OPTION VALUE='OREGON'>OREGON</OPTION>
            <OPTION VALUE='PENNSYLVANIA'>PENNSYLVANIA</OPTION>
            <OPTION VALUE='RHODE ISLAND'>RHODE ISLAND</OPTION>
            <OPTION VALUE='SOUTH CAROLINA'>SOUTH CAROLINA</OPTION>
            <OPTION VALUE='SOUTH DAKOTA'>SOUTH DAKOTA</OPTION>
            <OPTION VALUE='TENNESSEE'>TENNESSEE</OPTION>
            <OPTION VALUE='TEXAS'>TEXAS</OPTION>
            <OPTION VALUE='UTAH'>UTAH</OPTION>
            <OPTION VALUE='VERMONT'>VERMONT</OPTION>
            <OPTION VALUE='VIRGINIA'>VIRGINIA</OPTION>
            <OPTION VALUE='WASHINGTON'>WASHINGTON</OPTION>
            <OPTION VALUE='WEST VIRGINIA'>WEST VIRGINIA</OPTION>
            <OPTION VALUE='WISCONSIN'>WISCONSIN</OPTION>
            <OPTION VALUE='WYOMING'>WYOMING</OPTION>
          </SELECT>
        </div>
  
        <div id="container6"
          style="height: 400px; width: 120%; box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1); border-radius: 0 0 20px 6px;">
        </div>
      </div>
  
  

    <div id="myModal" class="modal2">
      <!-- Modal content -->
      <div class="modal2-content">
        <div id="admin" class="col-md-12">
          <div class="card material-table" style="border: 0 !important; box-shadow: none !important;">
            <a class="btn btn-success btn-logion" style="float: right;margin-bottom: 10px;" onclick="gif2()"
              style=" float: right;margin: 5px 15px;" href="#"><i class="fa fa-times-circle-o"
                aria-hidden="true"></i></a>
            <a class="btn btn-success btn-logion" style="display:none; float: right;margin-bottom: 10px;"
              download="CapdataExecutivedashboard.csv" id="btnExport"
              onclick="return ExcellentExport.csv(this, 'dataTable1');" style=" float: right;margin: 5px 15px;"
              href=""><i class="fa fa-download" aria-hidden="true"></i></a>

            <div class="table-header">
              <span class="table-title" style="margin: 0 !important;"></span>
            </div>
            <div id="gif"></div>
            <div class="custyle" id="next"></div>
            <div class="custyle" id="next1"></div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script src="{{ url_for('static',filename='js/countapi.js') }}"></script>
  <script src="{{ url_for('static',filename='js/search.js') }}"></script>
  <script src="{{ url_for('static',filename='js/mail.js') }}"></script>
  <!-- partial -->

  <script src="{{ url_for('static',filename='js/script.js') }}"></script>
  <script src="{{ url_for('static',filename='js/schoolsummary2.js') }}"></script>
  <script src="{{ url_for('static',filename='js/excellentexport.js') }}"></script>
  <script src="{{ url_for('static',filename='js/map-tablescript.js') }}"></script>
  <script>
    $('#exc').val(1);
    $('#exc').change(function () {
      if (this.value == '1') {
        $('#container5').empty()
        executive("progschoolexclusivelyunitedstates");
      } else if (this.value == '2') {
        $('#container5').empty()
        executive("progschoolcountexclusively");
      }
    })

    var settings = {
      async: true,
      crossDomain: true,
      url: "/schoolmap",
      method: "GET",
    };
    $.ajax(settings).done(function (response) {
      var dataa = JSON.parse(response);
      console.log("hello22");
      console.log(dataa.other);
      $("#othe").text(dataa.other);
      $("#russia").text(dataa.india);
      $("#us").text(dataa.usa);
      $("#uk").text(dataa.canada);
      $("#mex").text(dataa.mexico);
      $("#totalparents2").text(dataa.totalparents);
    });
  </script>
</body>

</html>