
{% block sidebar %}
<nav class="navbar navbar-inverse navbar-fixed-left sidenavbar">
    <div class="container">
        <!-- <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
        </div> -->
        <div class="logo_img">
            <a href="homepage">
                <img src="/static/images/compasslogo.png" alt="logo image">
            </a>
        </div>
        <div id="navbar" class="navbar-collapse">
            <ul class="nav navbar-nav categories">
                <li class="" id="navbarDropdown"> 
                    <a href="#" class="" aria-haspopup="true">
                        <i class="fa-solid fa-house"></i>
                        <br>Overall
                    </a>
                </li>
                <li class="">
                    <a href="#" class="" id="navbarDropdown2" aria-haspopup="true">
                        <i class="fa-solid fa-briefcase"></i>
                        <br>Districts
                    </a>
                </li>
                <li class="">
                    <a href="#" class="" id="navbarDropdown3" aria-haspopup="true">
                        <i class="fa-solid fa-award"></i>
                        <br>School
                    </a>
                </li>
                <li class="">
                    <a href="#" class="" id="navbarDropdown4" aria-haspopup="true">
                        <i class="fa-solid fa-circle-play"></i>
                        <br>Playback
                    </a>
                </li>
                <li class="">
                    <a href="#" class="" id="navbarDropdown5" aria-haspopup="true">
                        <i class="fa-solid fa-dollar-sign"></i>
                        <br>Revenue
                    </a>
                </li>
                <li class="">
                    <a href="#" class="" id="navbarDropdown6" aria-haspopup="true">
                        <i class="fa-regular fa-comment"></i>
                        <br>Feedback
                    </a>
                </li>
                <li class="">
                    <a href="#" class="" id="navbarDropdown7" aria-haspopup="true">
                        <i class="fa-regular fa-star"></i>
                        <br>Home App
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="" id="show_list_items" style="display: none;">
    <div class="nav-dropdown">
        <div id="dropdown1" style="display: none;">
            <ul class="side-nav-dropdown">    
                <li><a href="Executive_Dashboard">Summary</a></li>
                <div class="dropdown-divider"></div>
                <li><a href="#">Daily</a></li>  
                <div class="dropdown-divider"></div>
                <li><a href="#">Weekly</a></li>
                <div class="dropdown-divider"></div>
                <li><a href="#">Live</a></li>
            </ul>
        </div>
        <div id="dropdown2" style="display: none;">
            <ul class="side-nav-dropdown">
                <li><a href="#">DP-360</a></li>
                <div class="dropdown-divider"></div>
                <li><a href="#">Mini 360</a></li>
                <div class="dropdown-divider"></div>
                <li><a href="#">E Score</a></li>
            </ul>
        </div>
        <div id="dropdown3" style="display: none;">
            <ul class="side-nav-dropdown">
                <li><a href="#">School Search</a></li>
                <div class="dropdown-divider"></div>
                <li><a href="#">School Summary</a></li>
                <div class="dropdown-divider"></div>
            </ul>
        </div>
        <div id="dropdown4" style="display: none;">
            <ul class="side-nav-dropdown">
                <li><a href="#">Playbak Analytics</a></li>
                <div class="dropdown-divider"></div>
                <li><a href="#">App Playbak Analytics</a></li>
                <div class="dropdown-divider"></div>
                <li><a href="#">Program Wise Analytics</a></li>
            </ul>
        </div>
        <div id="dropdown5" style="display: none;">
            <ul class="side-nav-dropdown">
                <li><a href="#">Revenue Overview</a></li>
                <div class="dropdown-divider"></div>
                <li><a href="#">Donation</a></li>
                <div class="dropdown-divider"></div>
                <li><a href="#">School</a></li>
                <div class="dropdown-divider"></div>
                <li><a href="#">Bill Me Later</a></li>
            </ul>
        </div>
        <div id="dropdown6" style="display: none;">
            <ul class="side-nav-dropdown">
                <li><a href="#">Feedback Ananlytics</a></li>
                <div class="dropdown-divider"></div>
                <li><a href="#">Sentiment Analysis</a></li>
                <div class="dropdown-divider"></div>
                <li><a href="#">Feedback Trends</a></li>
            </ul>
        </div>
        <div id="dropdown7" style="display: none;">
            <ul class="side-nav-dropdown">
                <li><a href="#">Home App Overview</a></li>
                <div class="dropdown-divider"></div>
                <li><a href="#">Home App School</a></li>
                <div class="dropdown-divider"></div>
                <li><a href="#">Home App Analytics</a></li>
                <div class="dropdown-divider"></div>
                <li><a href="#">Home Survey Analysis</a></li>
            </ul>
        </div>
    </div>
</div>


{% endblock %}


{% block extra_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script>
var selector = '.categories li';

$(selector).on('click', function(){
    $(selector).removeClass('active');
    $(this).addClass('active');
});


$("#navbarDropdown").on("click", function() {
    $("#main_contents").toggleClass("margins");
    $("#show_list_items").toggle();
    $("#dropdown1").css("display","block");
    $("#dropdown2").css("display","none");
    $("#dropdown3").css("display","none");
    $("#dropdown4").css("display","none");
    $("#dropdown5").css("display","none");
    $("#dropdown6").css("display","none");
    $("#dropdown7").css("display","none");
});
$("#navbarDropdown2").on("click", function(){
    $("#main_contents").toggleClass("margins");
    $("#show_list_items").toggle();
    $("#dropdown2").css("display","block");
    $("#dropdown1").css("display","none");
    $("#dropdown3").css("display","none");
    $("#dropdown4").css("display","none");
    $("#dropdown5").css("display","none");
    $("#dropdown6").css("display","none");
    $("#dropdown7").css("display","none");
});
$("#navbarDropdown3").on("click", function(){
    $("#main_contents").toggleClass("margins");
    $("#show_list_items").toggle();
    $("#dropdown3").css("display","block");
    $("#dropdown1").css("display","none");
    $("#dropdown2").css("display","none");
    $("#dropdown4").css("display","none");
    $("#dropdown5").css("display","none");
    $("#dropdown6").css("display","none");
    $("#dropdown7").css("display","none");
});
$("#navbarDropdown4").on("click", function(){
    $("#main_contents").toggleClass("margins");
    $("#show_list_items").toggle();
    $("#dropdown4").css("display","block");
    $("#dropdown1").css("display","none");
    $("#dropdown2").css("display","none");
    $("#dropdown3").css("display","none");
    $("#dropdown5").css("display","none");
    $("#dropdown6").css("display","none");
    $("#dropdown7").css("display","none");
});
$("#navbarDropdown5").on("click", function(){
    $("#main_contents").toggleClass("margins");
    $("#show_list_items").toggle();
    $("#dropdown5").css("display","block");
    $("#dropdown1").css("display","none");
    $("#dropdown2").css("display","none");
    $("#dropdown3").css("display","none");
    $("#dropdown4").css("display","none");
    $("#dropdown6").css("display","none");
    $("#dropdown7").css("display","none");
});
$("#navbarDropdown6").on("click", function(){
    $("#main_contents").toggleClass("margins");
    $("#show_list_items").toggle();
    $("#dropdown6").css("display","block");
    $("#dropdown1").css("display","none");
    $("#dropdown2").css("display","none");
    $("#dropdown3").css("display","none");
    $("#dropdown4").css("display","none");
    $("#dropdown5").css("display","none");
    $("#dropdown7").css("display","none");
});
$("#navbarDropdown7").on("click", function(){
    $("#main_contents").toggleClass("margins");
    $("#show_list_items").toggle();
    $("#dropdown7").css("display","block");
    $("#dropdown1").css("display","none");
    $("#dropdown2").css("display","none");
    $("#dropdown3").css("display","none");
    $("#dropdown4").css("display","none");
    $("#dropdown5").css("display","none");
    $("#dropdown6").css("display","none");
});

</script>

{% endblock extra_js %}