<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="icon" href="{{ url_for('static',filename='images/favicon.ico') }}" type="image/gif" sizes="16x16">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <title>CAPXP UPCOMING RENEWAL</title>
  
  <link rel="icon" href="{{ url_for('static',filename='images/favicon.ico') }}" type="image/gif" sizes="16x16">
    <title>CAPXP FAMILY MAP VIEW</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/search2.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/map-table.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/modal-style.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/search2.css') }}">
    <!--  -->
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.min.css') }}">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/journeystyle.css') }}">

    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css'>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap.min.css">
  <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap.min.js"></script>
    


<link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-EWVQZSV89G"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'G-EWVQZSV89G');
  </script>
</head>

<style>
  .image {
    float: right;
    width: 107px;
    height: 38px;
    opacity: 100%;
    margin-top: 15px;
  }

  .image2 {
    float: left;
    width: 1%;
    opacity: 100%;
    margin-top: 4px;
    margin-right: 10px;

  }

  .tablelink{
  color:#4da555;
  cursor:pointer;
}
.tablelink2{
  color:#3253c0;
  cursor:pointer;
}


.range-input{
  position: absolute;
  top: 104%;
left: 59%;
  transform: translate(-50%,-50%);
  background-color: #eee;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.range-input input{
  -webkit-appearance: none;
  width: 200px;
  height: 2px;
  background-color: #4471ef;
  outline: none;
}
.range-input input::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #eee;
  border: 2px solid #4471ef;
  border-radius:50%;
  outline: none;
}
.range-input input::-webkit-slider-thumb:hover{
  background-color: #4471ef;
}
.range-input .value{
  color: #4471ef;
  text-align: center;
  font-weight:600;
  line-height: 40px;
  height: 40px;
  overflow: hidden;
}
.range-input .value div{
  transition: all 300ms ease-in-out;
}


.range-input2{
  position: absolute;
  top: 104%;
left: 59%;
  transform: translate(-50%,-50%);
  background-color: #eee;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.range-input2 input{
  -webkit-appearance: none;
  width: 200px;
  height: 2px;
  background-color: #4471ef;
  outline: none;
}
.range-input2 input::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #eee;
  border: 2px solid #4471ef;
  border-radius:50%;
  outline: none;
}
.range-input2 input::-webkit-slider-thumb:hover{
  background-color: #4471ef;
}
.range-input2 .value2{
  color: #4471ef;
  text-align: center;
  font-weight:600;
  line-height: 40px;
  height: 40px;
  overflow: hidden;
}
.range-input2 .value2 div{
  transition: all 300ms ease-in-out;
}


.range-input0{
  position: absolute;
  top: 104%;
left: 32%;
  transform: translate(-50%,-50%);
  background-color: #eee;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.range-input0 input{
  -webkit-appearance: none;
  width: 200px;
  height: 2px;
  background-color: #4471ef;
  outline: none;
}
.range-input0 input::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #eee;
  border: 2px solid #4471ef;
  border-radius:50%;
  outline: none;
}
.range-input0 input::-webkit-slider-thumb:hover{
  background-color: #4471ef;
}
.range-input0 .value0{
  color: #4471ef;
  text-align: center;
  font-weight:600;
  line-height: 40px;
  height: 40px;
  overflow: hidden;
}
.range-input0 .value0 div{
  transition: all 300ms ease-in-out;
}

.range-input1{
  position: absolute;
  top: 104%;
left: 78%;
  transform: translate(-50%,-50%);
  background-color: #eee;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  border-radius: 10px;
}
.range-input1 input{
  -webkit-appearance: none;
  width: 200px;
  height: 2px;
  background-color: #4471ef;
  outline: none;
}
.range-input1 input::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  background-color: #eee;
  border: 2px solid #4471ef;
  border-radius:50%;
  outline: none;
}
.range-input1 input::-webkit-slider-thumb:hover{
  background-color: #4471ef;
}
.range-input1 .value1{
  color: #4471ef;
  text-align: center;
  font-weight:600;
  line-height: 40px;
  height: 40px;
  overflow: hidden;
}
.range-input1 .value1 div{
  transition: all 300ms ease-in-out;
}
</style>



<body class="body">
  <nav class="navbar navbar-default">
    <div class="">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="page_Heading" href="#">UPCOMING RENEWALS</a>
        <a href="homepage">
          <img src="{{ url_for('static',filename='images/capwhite.png') }}" alt=""
            class="logo">
        </a>
      </div>
      <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li style="left: 2px;
          top: 34px;color: #fff;" title="Page Views" id="myBtn2"><i class="fa fa-eye" aria-hidden="true" style="margin-left: 22px;/*! margin-top: 12px; */margin-right: 5px;"></i><p style="float: right;">Views</p><p id="count" style="float: right;margin-right: 3px;"></p></li>
          <!-- <li style="left: 10px;
          top: 34px;
          color: #fff;
          cursor: pointer;" id="myBtn"><i class="fa fa-lightbulb-o" style="margin-top:2px;"></i><p style="float: right;">Insights</p><p style="float: right;margin-right: 3px; margin-left: 5px;">2</p></li> -->
          <li style="left:10px;top:18px;" ><a id="share" href="#"><i class="fa fa-share" aria-hidden="true" style="margin-top:2px;margin-right: 3px;"></i></a></li>
          <li style="top:18px;"><a href="#"><i data-show="show-side-navigation1" class="fa fa-bars show-side-btn"></i></a></li>
          <li style="margin-top: 27px;">
            <div class="dropdown">
              <button class="btn btn-primary " id="menu1" type="button" data-toggle="dropdown" style="border: 0;font-size: 16px; border-radius: 50%;">{{g.user.nameinitial}}<span id="logid" style="display: none;">{{g.user.id}}</span></button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation" id="usname"><a role="menuitem" tabindex="-1" href="login">{{g.user.name}}</a></li>  
                <hr />
                <li role="presentation"><a role="menuitem" tabindex="-1" href="login">LOGOUT</a></li>   
              </ul>
            </div>
        </ul>
      </div>
      <div class="input-Container ui-widget">
        <i class="fa fa-search Icon"></i>
        <div id="iid" class="input-Field">
        </div>
        <button class="search_Bt" style="padding-right: 4px !important;" onclick="search()" id="hel"><i class="fa fa-search Search_icon"></i></button>
        <p style="display: none;" id="tagdescription" ></p>
        <p style="display: none;" id="tagdescription" ></p>
      </div>      
    </div>
  </div>
  </nav>
  <aside class="side-nav" id="show-side-navigation1">
    <i class="fa fa-bars close-aside hidden-sm hidden-md hidden-lg" data-close="show-side-navigation1"></i>
    <ul class="categories" style="margin-top:35px;">
      <li>
        <i class="fa fa-home" aria-hidden="true"></i>
        <a href="#">EXECUTIVE SUMMARY</a>
        <ul class="side-nav-dropdown">
          <li>
            <a href="Executive_Dashboard">CAP SUMMARY</a></li>
          <li><a href="Daily_Analytics">DAILY ANALYTICS</a></li>
          <li><a href="Weekly_Analytics">WEEKLY ANALYTICS</a></li>
          <li><a href="aws_releases">COMPASS RELEASES</a></li>
<li><a href="schoolsummary">SCHOOL SUMMARY</a></li>
          <li><a href="awsmain">AWS ANALYTICS</a></li>
            <li><a href="aws">DATABASE PERFROMANCE ANALYTICS</a></li>
                        
            
        </ul>
      </li>
      <li><i class="fa fa-book "></i><a href="#">ENGAGEMENT DASHBOARDS</a>
        <ul class="side-nav-dropdown">
          <li><a href="NameEScore">DISTRICT ENGAGEMENT</a></li> 
<li><a href="Disctrictfilter">DISTRICT 360</a></li>
<li><a href="partner">PARTNER PORTAL</a></li>
          <li><a href="Login_analytics">LOGIN ANALYTICS</a></li>
          <!-- <li><a href="schoolengagement">SCHOOL ENGAGEMENT</a></li> -->
 <!-- <li><a href="School_Analytics">SCHOOL ANALYTICS</a></li> -->        
            <li><a href="School_Search">SCHOOL SEARCH</a></li>
          <li><a href="School_Search_comparison">SCHOOL COMPARISON</a></li>
<li><a href="21daystreak">21 Day Streak</a></li>
        </ul>
      </li>
      <li><i class="fa fa-history"></i><a href="#">PLAYBACK ANALYTICS</a>
        <ul class="side-nav-dropdown">
          <li><a href="Practice_Analytics">SCHOOL PLAYBACK ANALYTICS</a></li>
          <li><a href="Scoology">SCHOOLOGY</a></li>
          <li><a href="Family_practice_analytics">APP PLAYBACK ANALYTICS</a></li>
          <li><a href="Progarm_wise_Analytics">PROGRAM WISE ANALYTICS</a></li>
          <!-- <li><a href="audio_analytics">AUDIO ANALYTICS</a></li> -->
          <li><a href="tunein">TUNE_IN DASHBOARD</a></li>
            <li><a href="Practice_streak">PLAYBACK STREAK</a></li>
          <!-- <li><a href="pracbifurcation">PLAYBACK BIFURCATION</a></li> -->
        </ul>
      </li>
      <li>
        <i class="fa fa-dollar"></i><a href="#">REVENUE DASHBOARDS</a>
        <ul class="side-nav-dropdown">
          <li><a href="Transaction_Reporting">REVENUE OVERVIEW</a></li>
          <li><a href="Donation">DONATION DASHBOARD</a></li>
          <li><a href="School_Revenue">SCHOOL REVENUE</a></li><li><a href="Bill_later">BILL ME LATER</a></li>
        </ul>
      </li>
<li><i class="fa fa-bolt"></i><a href="#">FEEDBACK AND SURVEY</a>
        <ul class="side-nav-dropdown">
          <li><a href="feedback_Analyitcs">FEEDBACK ANAYLTICS</a></li>
            <li><a href="sentiment">SENTIMENT ANAYLTICS</a></li>
          <li><a href="feedback_Trends">FEEDBACK TRENDS</a></li>
          <li><a href="Family_SURVEY">HOME SURVEY ANALYTICS</a></li>
          <li><a href="feedback_Analyitcs_family">HOME FEEDBACK ANALYTICS</a></li>
        </ul>
      </li>
      <li class="active">
        <i class="fa fa-users "></i><a href="#">SUBSCRIPTION DASHBOARDS</a>
        <ul class="side-nav-dropdown">
          <li class="active2"><a href="Upcoming_Renewals">UPCOMING RENEWAL</a></li>
          <li class="active2"><a href="d1districts">D1 Districts</a></li>
<li class="active2"><a href="mobile_sub">MOBILE SUBSCRIPTION</a></li>
          <li class="active2"><a href="Sms_analytics">SMS ANALYTICS</a></li>
          <!-- <li class="active2"><a href="Bill_later">BILL ME LATER</a></li> -->
        </ul>
      </li>
      
      <li><i class="fa fa-star"></i><a href="#">APP ANALYTICS</a>
        <ul class="side-nav-dropdown">
          <li><a href="Parents_Analytics">HOME APP OVERVIEW</a></li>
          <li><a href="Familyapp_school">HOME APP SCHOOL</a></li>
          <!-- <li><a href="Family_School_Search"> HOME APP SCHOOL SEARCH</a></li>-->
          <!--<li><a href="Parents_map_view">HOME APP GEO</a></li>-->
          <!--<li><a href="Android_analytics">ANDROID ANALYTICS</a></li>-->
          <li><a href="IOS_Analytics">IOS ANALYTICS</a></li>
        </ul>
      </li>
      <li style="margin-top: 150px;"><i class="fa fa-code-fork"></i><a href="#">CAP VERSION<span style="margin: 0 5px 0 5px !important;" id="version">5.5</span></a>
    </li>
<!-- <li id="myBtn2"><i class="fa fa-envelope-open-o fa-fw"></i>Contact Us</li> -->
</aside>
  <section id="contents">
    <!-- The Modal -->
    <div id="myModal" class="modal">
    
      <!-- Modal content -->
      <div class="modal-content">
        <button onclick="cose()">Close X</button>
        <section class="mtsection">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-6">
                <div class="card">
                  <div class="card-header no-border">
                    <h4 class="card-title">Information<a href="#popup1"><i class="fa fa-pencil" aria-hidden="true"
                          style="float: right;cursor: pointer;"></i></a></h4>
    
    
                  </div>
                  <div class="card-body card-contentt">
                    <div class="card-block">
                      <p id="schoolname"></p>
                      <p id="admin"></p>
                      <p id="email"></p>
                      <p id="adress"></p>
                      <p id="city"></p>
                      <p id="state"></p>
                      <p id="country"></p>
                      <p style="float: left;margin-right: 9px;"><b>Renewal Date:</b>
                      <p id="renewal"></p>
                      </p>
                      </a>
                      </p>
    
    
    
    
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="col-md-6">
    
    
    
                <section class="mtsection">
                  <div class="">
                    <div class="pcard">
                      <div class="col-md-6 col-sm-6">
                        <div class="card card-stats">
                          <div class="card-header" data-background-color="rose1">
                            <img src="{{ url_for('static',filename='images/capuser.png') }}" style="width: 54px;"
                              class="img-responsive">
                          </div>
                          <div class="card-content">
                            <p class="category">Total Users</p>
                            <h3 class="card-title" id="ucount"></h3>
    
    
                          </div>
    
                        </div>
                      </div>
    
                      <div class="col-md-6 col-sm-6">
                        <div class="card card-stats">
                          <div class="card-header" data-background-color="rose">
                            <img src="{{ url_for('static',filename='images/capminute.png') }}" style="width: 54px;"
                              class="img-responsive">
                          </div>
                          <div class="card-content">
                            <p class="category">Playback Count</p>
                            <h3 class="card-title" id="pcount"></h3>
                          </div>
    
                        </div>
                      </div>
    
                      <div class="col-md-6 col-sm-6">
                        <div class="card card-stats">
                          <div class="card-header" data-background-color="green">
                            <img src="{{ url_for('static',filename='images/capstudy.png') }}" style="width: 54px;"
                              class="img-responsive">
                          </div>
                          <div class="card-content">
                            <p class="category"> Mindful Minutes</p>
                            <h3 class="card-title" id="mindfulness_minutes"></h3>
                          </div>
                          <!-- <div class="card-footer">
                    <div class="stats">
                      <i class="material-icons text-danger">warning</i> <a href="#pablo">Get More Space...</a>
                    </div>
                  </div> -->
                        </div>
                      </div>
    
                      <div class="col-md-6 col-sm-6">
                        <div class="card card-stats">
                          <div class="card-header" data-background-color="blue">
                            <img src="{{ url_for('static',filename='images/cappractice.png') }}" style="width: 54px;"
                              class="img-responsive">
                          </div>
                          <div class="card-content">
                            <p class="category">5 Star Ratings</p>
                            <h3 class="card-title" id="ratings"></h3>
                          </div>
                          <!-- 	<div class="card-footer">
                    <div class="stats">
                      <i class="material-icons text-danger">warning</i> <a href="#pablo">Get More Space...</a>
                    </div>
                  </div> -->
                        </div>
                      </div>
    
                      <button class="ex_Button" onclick="explore()">Explore School</button>
    
                    </div>
    
                  </div>
    
                </section>
    
    
    
              </div>
            </div>
          </div>
        </section>
      </div>
    
    </div>
    
    <section class="statistics">
      <div class="container-fluid">
        <div class="col-md-3">
          <div class="boxExecutive">
            <div >
              <img src="{{ url_for('static',filename='images/Bar_Chartnew.png') }}" class="image">
              <p style="font-size: 11px;" onclick="cards('/executive_community')" >School Count</p>
              <p class="boxvalue2" id="schoolcount77"></p>
              <hr />
              <img src="{{ url_for('static',filename='images/green.png') }}" class="image2">
              <p class="boxHeading2">D1</p>
              <p class="boxvalue" id="trial"  style="cursor: pointer;" onclick="cards('/executive_community')"></p>
              <br />
              <hr />
              <img src="{{ url_for('static',filename='images/green.png') }}" class="image2">
              <p class="boxHeading2">D2<br /></p>
              <p class="boxvalue" id="lsy" style="cursor: pointer;" onclick="cards('/executive_cloud')"></p>
              <br />
              <hr />
              <img src="{{ url_for('static',filename='images/green.png') }}" class="image2">
              <p class="boxHeading2">D3<br /></p>
              <p class="boxvalue" id="next6" style="cursor: pointer;" onclick="cards('/executive_explorer')"></p>
              <br />
              <br />
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="boxExecutive">
            <div >
              <img src="{{ url_for('static',filename='images/Bar_Chartnew.png') }}" class="image">
              <p style="font-size: 11px;" onclick="cards('')" >School Count (D3)</p>
              <p class="boxvalue2" id="c1"></p>
              <hr />
              <img src="{{ url_for('static',filename='images/green.png') }}" class="image2">
              <p class="boxHeading2">Cloud (D3)</p>
              <p class="boxvalue" id="c2"  style="cursor: pointer;" onclick="cards('/explorertabled3')"></p>
              <br />
              <hr />
              <img src="{{ url_for('static',filename='images/green.png') }}" class="image2">
              <p class="boxHeading2">Community (D3)<br /></p>
              <p class="boxvalue" id="c3" style="cursor: pointer;" onclick="cards('/communitytabled3')"></p>
              <br />
              <hr />
              <img src="{{ url_for('static',filename='images/green.png') }}" class="image2">
              <p class="boxHeading2">Explorer (D3)<br /></p>
              <p class="boxvalue" id="c4" style="cursor: pointer;" onclick="cards('/explorertabled3')"></p>
              <br />  
              <br />
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="boxExecutive">
            <div >
              <img src="/static/images/Bar_Chartnew.png" class="image">
              <p style="font-size: 11px;">Total Students</p>
              <p class="boxvalue2" id="totalstudent"></p>
              <hr />
              <img src="{{ url_for('static',filename='images/green.png') }}" class="image2">
              <p class="boxHeadingyear">Lifetime</p>
              <p class="boxvalue textcolor2" style="cursor: pointer;" id="active" onclick="cards('/executive_lifetime')"></p>
              <br />
              <hr />
              <img src="{{ url_for('static',filename='images/green.png') }}" class="image2">
              <p class="boxHeadingyear">Mobile</p>
              <p class="boxvalue textcolor3" style="cursor: pointer;" id="passive" ></p>
              <br />
              <hr />
              <img src="{{ url_for('static',filename='images/green.png') }}" class="image2">
              <p class="boxHeadingyear">Other</p>
              <p class="boxvalue textcolor4" style="cursor: pointer;" id="dormant"></p>
              <br />
              <br />
    
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="boxExecutive">
            <div >
              <img src="/static/images/Bar_Chartnew.png" class="image">
              <p style="font-size: 11px;">Total Usercount</p>
              <p class="boxvalue2" id="usercount"></p>
              <hr />
              <img src="/static/images/green.png" class="image2">
              <p class="boxHeading2">Total Teachers</p>
              <p class="boxvalue" id="tcount"></p>
              <br />
              <hr />
              <img src="/static/images/green.png" class="image2">
              <p class="boxHeading2">Mindful Minutes</p>
              <p class="boxvalue" id="mindful"></p>
              <br />
              <hr />
              <img src="/static/images/green.png" class="image2">
              <p class="boxHeading2">Playback Count</p>
              <p class="boxvalue" id="neverlogged"></p>
              <br />
              <br />
            </div>
          </div>
        </div>
       
       
        <!-- <div class="col-md-3">
          <div class="boxchart">
            <div class="totalchart">
            <p class="chartHeading">Total REVENUE CSY</p>
            <p class="chartvalue"  id="Total_amount"></p>
          </div>
            <div id="containerpie" style="height: 315px;"></div>
          </div>
    
      
             
    
          </div> -->
          </div>
        </div>
    
      </div>
    
    
    </section>
    <hr />
 
      
 
      <div class="col-md-10" style="margin-bottom: 30px;  border-radius: 20px;">
        <div id="container2"style="height: 400px; width: 120%; border-radius: 20px; margin-top: 20px;  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);"></div>
      </div>
      <div class="col-md-10" style="margin-bottom: 30px;  border-radius: 20px;">
        <div id="container3"style="height: 400px; width: 120%; border-radius: 20px; margin-top: 20px;  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);"></div>
      </div>

      <div class="col-md-10" style="margin-bottom: 30px;  border-radius: 20px;">
        <div id="container125" style="height: 400px; width: 120%; border-radius: 20px; margin-top: 20px;  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);"></div>
        <div class="range-input">
          <input type="range" min='0' max = "100" value="0" step="1">
          <div class="value">
               <div></div>
           </div>
          </div>  
        </div>
        <div class="col-md-10" style="margin-bottom: 30px;  border-radius: 20px;">
          <div id="container44"style="height: 400px; width: 120%; border-radius: 20px; margin-top: 20px;  box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);"></div>
          <div class="range-input2">
            <input type="range" min='0' max = "100" value="0" step="1">
            <div class="value2">
                 <div></div>
             </div>
            </div> 
        </div>
        <div class="col-md-10" style="margin-bottom: 30px;  border-radius: 20px; margin-top: 20px;">
          <select id="Ultra">  <!--Call run() function-->
            <option value="0">Select Amount</option>
            <option value=1000>$1000</option>
            <option value=1400>$1400</option>
       </select>
          <div id="container"style="height: 400px; width: 120%; border-radius: 20px;   box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);"></div>
          <div class="range-input0">
            <input type="range" min='0' max = "100" value="0" step="1">
             INITIAL EXP(%) : <span><div class="value0">
                 <div></div>
             </div>
            </div> 
            <div class="range-input1">
              <input type="range" min='0' max = "100" value="0" step="1">
              FULL EXP(%) : <span><div class="value1">
                   <div></div>
               </div>
              </div>  
        </div>
        
     
      <!-- <section class="charts" style="margin-top: 30px;">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6">
              <div id="container5" style=" border-radius: 20px;   box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);"></div>
            </div>
            <div class="col-md-6">
              <div id="container6" style=" border-radius: 20px;   box-shadow: 2px 10px 20px rgba(0, 0, 0, 0.1);"></div>
            </div>
          </div>
        </div>
      </section> -->



      <div id="myModal2" class="modal2">
        <!-- Modal content -->
        <div class="modal2-content">
                    <div id="admin" class="col-md-12" >
                      <div class="card material-table" style="border: 0 !important; box-shadow: none !important;">
                        <a class="btn btn-success btn-logion" style="float: right;margin-bottom: 10px;"  onclick="gif2()" style=" float: right;margin: 5px 15px;" href="#"><i class="fa fa-times-circle-o" aria-hidden="true"></i></a>
                        <a class="btn btn-success btn-logion" style="display:none; float: right;margin-bottom: 10px;"  download="CapdataExecutivedashboard.csv" id="btnExport" onclick="return ExcellentExport.csv(this, 'dataTable1');" style=" float: right;margin: 5px 15px;" href=""><i class="fa fa-download" aria-hidden="true"></i></a>
                        
                        <div class="table-header" >
                          <span class="table-title" style="margin: 0 !important;">SCHOOL DETAILS</span>
                        </div>
                        <div id="gif"></div>
                        <div class="custyle" id ="next" ></div>
                        <div class="custyle" id ="next1" ></div>
                      </div>
                    </div>
        </div>
      </div>

<!-- 
 <div class="welcome2" id="scroll">
<div class="container-fluid">
 <div class="col-md-12" style="background-color: white; margin-top: 50px; border-radius: 20px; margin-bottom: 20px;">
    <div class="row">
        <div id="admin" class="col-md-12" style="overflow: scroll;background-color: #fff;">
          <div class="card material-table">
            <a class="btn btn-success btn-logion" style="display:none; float: right;margin-bottom: 10px;"  download="CapdataExecutivedashboard.csv" id="btnExport" onclick="return ExcellentExport.csv(this, 'dataTable1');" style=" float: right;margin: 5px 15px;" href=""><i class="fa fa-download" aria-hidden="true"></i>
            </a>
            <div class="table-header" >
              <span class="table-title" style="margin: 0 !important;">SCHOOL DETAILS</span>
            </div>
            
               <div class="custyle" id ="next" >
               </div>
               <div class="custyle" id ="next1" ></div>
          </div>
        </div>
    </div>
 </div>
 </div>
 </div> -->
</section>

<!-- The Modal INSIGHTS-->

<!--POPUP ENDS-->

<!-- The Modal INSIGHTS-->
<!-- <div id="myModal" class="modal"> -->
  <!-- Modal content -->
  <!-- <div class="modal-content">
    <button onclick="cose()">Close X</button>
    <h2 style="color: #fff;">Insights</h2>
      <div class="content">



        <div class="toast" id="clonemother">
          <div class="toast-content">
            <div class="before"></div>
            <div class="icon">&#x2714</div>
            <div class="text">
              <p>CAP SUMMARY</p>
              <p class="message" id="Exectuive_Dashboard"></p>
            </div>
            <div onclick="deletethis()" class="close">&#x00D7</div>
          </div>
        </div>

        <div class="toast" id="clonemother">
          <div class="toast-content">
            <div class="before"></div>
            <div class="icon">&#x2714</div>
            <div class="text">
              <p>Active Trend</p>
              <p class="message" id="Active_User_Trend"></p>
            </div>
            <div onclick="deletethis()" class="close">&#x00D7</div>
          </div>
        </div>

        <div class="toast" id="clonemother">
          <div class="toast-content">
            <div class="before"></div>
            <div class="icon">&#x2714</div>
            <div class="text">
              <p>Practice Trend</p>
              <p class="message" id="Practice_Trend"></p>
            </div>
            <div onclick="deletethis()" class="close">&#x00D7</div>
          </div>
        </div>
        <div class="toast" id="clonemother">
          <div class="toast-content">
            <div class="before"></div>
            <div class="icon">&#x2714</div>
            <div class="text">
              <p>Practice History</p>
              <p class="message" id="Practice_History"></p>
            </div>
            <div onclick="deletethis()" class="close">&#x00D7</div>
          </div>
        </div>
      </div>
  </div>
</div> -->
<!--POPUP ENDS -->

  <!-- <div class="botIcon">
    <div class="botIconContainer">
      <div class="iconInner">
        <img src="{{ url_for('static',filename='images/compasslogo.png') }}">
      </div>
    </div>
    <div class="Layout Layout-open Layout-expand">
      <div class="Messenger_messenger">
        <div class="Messenger_header">
          <h4 class="Messenger_prompt" style="color: #fff;">CAPXP Bot</h4> <span class="chat_close_icon"><i
              class="fa fa-window-close" aria-hidden="true"></i></span>
        </div>
        <div class="Messenger_content">
          <div class="Messages">
            <div class="Messages_list"></div>
          </div>
          <form id="messenger">
            <div class="Input Input-blank">

              <input name="msg" class="Input_field" placeholder="Send a message..." autocomplete="off">
              <button type="submit" class="Input_button Input_button-send">
                <div class="Icon">
                  <svg viewBox="1496 193 57 54" version="1.1" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink">
                    <g id="Group-9-Copy-3" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"
                      transform="translate(1523.000000, 220.000000) rotate(-270.000000) translate(-1523.000000, -220.000000) translate(1499.000000, 193.000000)">
                      <path
                        d="M5.42994667,44.5306122 L16.5955554,44.5306122 L21.049938,20.423658 C21.6518463,17.1661523 26.3121212,17.1441362 26.9447801,20.3958097 L31.6405465,44.5306122 L42.5313185,44.5306122 L23.9806326,7.0871633 L5.42994667,44.5306122 Z M22.0420732,48.0757124 C21.779222,49.4982538 20.5386331,50.5306122 19.0920112,50.5306122 L1.59009899,50.5306122 C-1.20169244,50.5306122 -2.87079654,47.7697069 -1.64625638,45.2980459 L20.8461928,-0.101616237 C22.1967178,-2.8275701 25.7710778,-2.81438868 27.1150723,-0.101616237 L49.6075215,45.2980459 C5.08414042,47.7885641 49.1422456,50.5306122 46.3613062,50.5306122 L29.1679835,50.5306122 C27.7320366,50.5306122 26.4974445,49.5130766 26.2232033,48.1035608 L24.0760553,37.0678766 L22.0420732,48.0757124 Z"
                        id="sendicon" fill="#96AAB4" fill-rule="nonzero"></path>
                    </g>
                  </svg>
                </div>
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div> -->
  <!--<script src="{{ url_for('static',filename='js/accessdom.js') }}"></script>-->
  <script  src="{{ url_for('static',filename='js/excellentexport.js') }}"></script>
<script>
 function cards(URL) {
    $('#next').empty();
    console.log(URL);
    var modal2 = document.getElementById("myModal2");

    modal2.style.display = "block";
    $("#gif").append("<img style='width: 7%;margin-left: 45.2%;' src='/static/images/loading.gif'><div><p style=' text-align: center;margin-top:5px;'>Please wait while we fetch your data.</p></div>");
    var gif = document.getElementById("gif");
  gif.style.display = "block";
    $('#btnExport').show();
    createDynamic(URL)
  }
  
  function cards2(URL) {
    $('#next').empty();
    console.log(URL);
    cardscroll(); 
  $('#btnExport').show();
     createDynamic2(URL)

  }  
  function createDynamic(url){

var settings = {
"async": true,
"crossDomain": true,
"url": url,
"method": "GET",
success: function() {
  var gif = document.getElementById("gif");
  gif.style.display = "none";
  },
}
$.ajax(settings).done(function (response) {
var data1=JSON.parse(response);

$('#next').prepend('<table class="table table-striped custab table-fixed" id = "dataTable" ><thead ><tr><tr><th>SCHOOL NAME</th><th>STATE</th><th>CITY</th><th>USER NAME</th><th>USER EMAIL</th><th>SIGNUP DATE</th><th>LAST PLAYBACK DATE</th><th>RENEWAL DATE</th><th>PLAYBACK COUNT</th></tr></thead ><tbody>');
                      
for(var i=0;i<data1.data.length;i++){


var datain = data1.data[i];
var resultDiv = createDynamicDiv(datain);

$("#dataTable").append(resultDiv);




}
//$('#dataTable1').append('</tbody></table>');
$('#dataTable').append('</tbody></table>');
dataTab();



$('#next1').prepend('<table class="table table-striped custab table-fixed" style="display:none;" id = "dataTable1" ><thead ><tr><tr><th>SCHOOL NAME</th><th>STATE</th><th>CITY</th><th>USER NAME</th><th>USER EMAIL</th><th>SIGNUP DATE</th><th>LAST PLAYBACK DATE</th><th>RENEWAL DATE</th><th>PLAYBACK COUNT</th></tr></thead ><tbody>');
for(var i=0;i<data1.data.length;i++){


var datain = data1.data[i];

var resultDiv = createDynamicDiv(datain);
$("#dataTable1").append(resultDiv);

}
$('#dataTable1').append('</tbody></table>');
})
}
function dataTab()
{

$("#dataTable").DataTable( {
    "pageLength": 50
} );

}
function createDynamicDiv(userList){
var dynamicDiv = '';
    console.log(userList)
    


  
  
  dynamicDiv +=   '<tr >'+
    '<td class="tablelink"><a onclick="search22(\''+userList[0]+'\')">' +
    userList[0] +
    "</td></a>" +
            '<td>'+userList[1]+'</td>'+	    	
          '<td>'+userList[2]+'</td>'+
          '<td>'+userList[3]+'</td>'+
          '<td class="tablelink"><a onclick="schoolsearch22(\''+userList[4]+'\')">' +
    userList[4] +
    "</td></a>" +
          '<td>'+userList[5]+'</td>'+
          '<td>'+userList[6]+'</td>'+
          '<td>'+userList[7]+'</td>'+
          '<td>'+userList[8]+'</td>'+
          
          '</tr>'        
    return dynamicDiv;
    
}
  </script>
  <script>

  </script>
   <script src="{{ url_for('static',filename='js/counts2.js') }}"></script>
  <script src="{{ url_for('static',filename='js/countapi.js') }}"></script>
  <script src="{{ url_for('static',filename='js/search.js') }}"></script>
  <!--<script src="{{ url_for('static',filename='js/contact.js') }}"></script>-->

  <!-- <script src="{{ url_for('static',filename='js/insight.js') }}"></script> -->

  <script src="{{ url_for('static',filename='js/mail.js') }}"></script>

  <script src="https://code.highcharts.com/stock/highstock.js"></script>
  <script src="https://code.highcharts.com/highcharts.js"></script>

  <!-- partial -->
  <script src="{{ url_for('static',filename='js/upgraph.js') }}"></script>

  <script src="{{ url_for('static',filename='js/upgraph2.js') }}"></script>

  <script src="{{ url_for('static',filename='js/renewablerevenue.js') }}"></script>
  <script src="{{ url_for('static',filename='js/script.js') }}"></script>
  <script  src="{{ url_for('static',filename='js/excellentexport.js') }}"></script>
  <!-- <script src="{{ url_for('static',filename='js/transactions.js') }}"></script> -->
 
  
<script>
  

</script>

</body>

</html>